<app-top-page-img-tpl></app-top-page-img-tpl>

<section>
  <div class="container p-5">
    <h2>Events</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
    <div class="container p-4">
      <div class="grid">
        <div class="lg:col-4 sm:col-12">
          <img  src="assets/logos/derry-logo.png" alt="" style="max-width:90%;">
        </div>
        <div class="col"></div>
        <div class="lg:col-7 sm:col-12">
          <h3 class="header-style text-xl">Derry City and Strabane District Council</h3>
          <p>Date: 07/02/2024</p>
          <p>Venue: TBC</p>
          <div class="pt-3">
            <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
          </div>
        </div>
      </div>
      <hr class="hr-style">
  </div>
  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Armagh City, Banbridge and Craigavon Borough Council</h3>
        <p>Date: 21/02/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
      <div class="col"></div>
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/Armagh_City,_Banbridge_and_Craigavon_Borough_Council.svg.png"  style="max-width:90%;">
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img  src="assets/logos/mid-ulster.svg" alt="" style="max-width:90%;">
      </div>
      <div class="col"></div>
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Mid Ulster District Council</h3>
        <p>Date: 28/02/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Belfast City Council</h3>
        <p>Date: 20/03/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
      <div class="col"></div>
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/belfast.png"  style="max-width:90%;">
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img  src="assets/logos/fermanagh-logo.png" alt="" style="max-width:90%;">
      </div>
      <div class="col"></div>
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Fermanagh and Omagh District Council</h3>
        <p>Date: 10/04/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Mid and East Antrim Borough Council</h3>
        <p>Date: 24/04/2024</p>
        <p>Venue: ECOS</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
      <div class="col"></div>
      <div class="lg:col-4 sm:col-12">
        <img  src="assets/logos/mid-east-antrim.png" style="max-width:90%;">
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/causeway-logo.png" alt="" style="max-width:90%;">
      </div>
      <div class="col"></div>
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Causeway Coast & Glens Borough Council</h3>
        <p>Date: 08/05/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Antrim and Newtownabbey Borough Council</h3>
        <p>Date: 29/05/2024</p>
        <p>Venue: ECOS</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
      <div class="col"></div>
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/ANBC.png"  style="max-width:90%;">
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/Lisburn_and_Castlereagh_City_Council_logo.svg.png" alt="" style="max-width:90%;">
      </div>
      <div class="col"></div>
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Lisburn & Castlereagh City Council</h3>
        <p>Date: 12/06/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
    <hr class="hr-style">
  </div>

  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Newry, Mourne and Down District Council</h3>
        <p>Date: 26/06/2024</p>
        <p>Venue: ECOS</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
      <div class="col"></div>
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/Newry-and-Mourne-logo.png"  style="max-width:90%;">
      </div>
    </div>
    <hr class="hr-style">
  </div>
  <div class="container p-4">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img src="assets/logos/ards-north-logo.png" alt="" style="max-width:90%;">
      </div>
      <div class="col"></div>
      <div class="lg:col-7 sm:col-12">
        <h3 class="header-style text-xl">Ards and North Down Borough Council</h3>
        <p>Date: 03/07/2024</p>
        <p>Venue: TBC</p>
        <div class="pt-3">
          <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
