
  @if(content){
    <div class="top-image-wrapper">
      <div class="top-image">
        <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
      </div>
      <div class="top-image-line">
        <app-top-page-img-tpl></app-top-page-img-tpl>
      </div>
    </div>
    <section>
      <div class="container p-4">
        <h2>{{content.title}}</h2>
        <div [innerHTML]="content.content"></div>
        <p>If you wish to register for a Workshop in your area , please send an e-mail at:
          <a class="font-semibold" style="color:#85bfba" href="mailto:GreenEconomyDevelopment@InvestNI.com" target="_blank" itemprop="email">{{"GreenEconomyDevelopment&#64;InvestNI.com" }}</a>
        </p>
<!--        <div class="flex justify-content-end p-5">-->
<!--          <p-dropdown [options]="eventOptions" [(ngModel)]="selectedDate" optionLabel="name" [showClear]="true" placeholder="Past/Future Events"></p-dropdown>-->
<!--        </div>-->
      </div>

      <div class="container p-3">
        <app-event-cards-tpl [content]="content"></app-event-cards-tpl>
      </div>

      <div class="container p-3">
        <h2>Past Events</h2>
        <div class="grid">
          @for(content of content.past_events; track $index;){
            <div class="lg:col-4 md:col-8 sm:col-12 mb-4">
              <div class="news-card">
                <div class="card-head">
                  <span class="p-3">Date: {{content.date}}</span>
                  <span class="mt-5 p-3">Time: {{content.time}}</span>
                  <img src="https://app.idni.eco/assets/{{content.image}}" alt="" class="news-img">
                </div>
                <div class="card-body text-left">
                  <h3 class="header-style text-2xl">{{content.title}}</h3>
                  <div class="mb-3">Venue: {{content.venue}}</div>
                  <div [innerHTML]="content.content" class="font-semibold"></div>
                </div>
                <div class="flex justify-content-start">
                  <div class="card-footer">
                    @if(content.link){
                      <p-button styleClass="btn-style" (click)="showDialog()">{{content.link}}</p-button>
                      <p-dialog [(visible)]="visible" header="Mid Ulster District Council - Industrial Decarbonisation Cluster Workshop" [style]="{width: '50vw'}">
                        <p-card styleClass="p-card-bck">
                          <div class="grid">
                            <div class="col-12">
                              <div class="iframe-container">
                                <iframe src="https://player.vimeo.com/video/923653202?h=658ac6fe2f" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                              </div>
                            </div>
                          </div>
                        </p-card>
                      </p-dialog>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </section>
  }

