<!--<p-panel header="Select Company">-->
<!--  <p-selectButton [options]="companies" [(ngModel)]="selectedCompany" optionLabel="name" optionValue="id"-->
<!--                  (ngModelChange)="onSelectCompany()" class="btn-select"></p-selectButton>-->
<!--</p-panel>-->

<section class="section-curve-left">
  <h2 class="header-style text-2xl">Productivity, <br>Emissions, <br>and Materials Tool</h2>
  <div class="container mt-8">
    <div class="flex  align-items-center flex-column">
      <p-table [value]="rows" styleClass="pet-table p-datatable-sm p-datatable-gridlines col-12">
        <ng-template pTemplate="header">
          <tr>
            <th class="header-style text-base font-semibold p-3">Productivity Factors Year 2024</th>
            <th class="header-style text-base font-semibold p-3">Value</th>
            <th class="header-style text-base font-semibold p-3">Per Employee Cost</th>
          </tr>
          <tr>
            <th>
              <p>Turnover</p>
            </th>
            <th>
              <p-inputNumber inputId="turnover" class="p-inputtext-sm" [inputStyle]="{width: '150px'}"
                             [(ngModel)]="turnover" (ngModelChange)="calculatePerEmployeeCost()"></p-inputNumber>
            </th>
            <th></th>
          </tr>
          <tr>
            <th>
              <p>Number Of Employees</p>
            </th>
            <th>
              <p-inputNumber inputId="employees" class="p-inputtext-sm" [inputStyle]="{width: '150px'}"
                             [(ngModel)]="employees" (ngModelChange)="calculatePerEmployeeCost()"></p-inputNumber>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td style="width: 400px"><p>{{ row.name }}</p></td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.value"
                             (ngModelChange)="calculatePerEmployeeCost()"></p-inputNumber>
            </td>
            <td>
              <p class="p-inputtext-sm">{{ row.secondColumn.toLocaleString('en-US') }}</p>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td>Total External Cost</td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="totalOfRows"
              ></p-inputNumber>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Productivity Score</td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="productivityScore"
              ></p-inputNumber>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>50%tile</td>
            <td>95%tile</td>
          </tr>
          <tr>
            <td>ONS Productivity Comparison</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Innovation - % of Turnover from Products <3 years</td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" suffix="%"
                             [(ngModel)]="innovationPercent"
              ></p-inputNumber>
            </td>
            <td>
              {{ (turnover * (innovationPercent / 100)).toLocaleString('en-US') }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Energy Costs -->
      <p-table [value]="energyRows" styleClass="pet-table p-datatable-sm p-datatable-gridlines col-12"
               [style]="{marginTop: '1rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th class="header-style text-base font-semibold p-3">Energy Costs</th>
            <th class="header-style text-base font-semibold p-3">£ Annual</th>
            <th class="header-style text-base font-semibold p-3">litres or kWh/yr</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td><p>{{ row.name }}</p></td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.value"
              ></p-inputNumber>
            </td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.secondColumn"
              ></p-inputNumber>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>

      <!--  Grid Allocation-->
      <p-table [value]="gridAllocationRows" styleClass="pet-table p-datatable-sm p-datatable-gridlines col-12"
               [style]="{marginTop: '1rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th class="header-style text-base font-semibold p-3">Grid Allocation & Usage</th>
            <th class="header-style text-base font-semibold p-3">KvA</th>
            <th class="header-style text-base font-semibold p-3"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td><p>{{ row.name }}</p></td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.value"
              ></p-inputNumber>
            </td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.secondColumn"
              ></p-inputNumber>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!--  Onsite Generation-->
      <p-table [value]="onSiteRows" styleClass="pet-table p-datatable-sm p-datatable-gridlines col-12"
               [style]="{marginTop: '1rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th class="header-style text-base font-semibold p-3">Onsite Generation</th>
            <th class="header-style text-base font-semibold p-3">Max kWh</th>
            <th class="header-style text-base font-semibold p-3">Annual kWh</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td><p>{{ row.name }}</p></td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.value"
              ></p-inputNumber>
            </td>
            <td>
              <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" [(ngModel)]="row.secondColumn"
              ></p-inputNumber>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>


