<!--<section>-->
<!--  <div class="container relative" style="padding:15px">-->
<!--    <div class="chat-container">-->
<!--      <div class="chatbox-nav">-->
<!--        <img src="assets/img/idni-logo.svg" height="100px" class="p-2">-->
<!--        <h3 class="header-style text-4xl">IDNI Q&A</h3>-->
<!--      </div>-->
<!--      <div class="chat">-->
<!--        <div class="assistant-container">-->
<!--          <div class="assistant-text-container">-->
<!--            <p>Welcome to IDNI Virtual Assistant !</p>-->
<!--            <p>How can I help you today ?</p>-->
<!--            <div class="flex flex-row">-->
<!--              <span class="span-style">Assistant's Name</span>-->
<!--            </div>-->
<!--            <div class="flex flex-row">-->
<!--              <span class="span-style">10:20am</span>-->
<!--              <span class="span-style">send</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="user-container">-->
<!--          <div class="user-text-container">-->
<!--            <p>Hello, I need help !</p>-->
<!--            <p>I have few question about the programme?</p>-->
<!--            <div class="flex flex-row">-->
<!--              <span class="span-style">User's Name</span>-->
<!--              <span class="span-style">User's Company</span>-->
<!--            </div>-->
<!--            <div class="flex flex-row">-->
<!--              <span class="span-style">10:30am</span>-->
<!--              <span class="span-style">recieved</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="message-container">-->
<!--        <div class="message-input">-->
<!--          <input type="text" class="inputText" placeholder="Write your message" #inputBox (keyup.enter)="onKey($event)"/>-->
<!--        </div>-->
<!--        <span class="message-icon pr-4">-->
<!--          <p-button icon="pi pi-send" [rounded]="true" styleClass="chat-btn" (onClick)="sendMessage()"></p-button>-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section>
  <div class="container relative" style="padding:15px">
    <div class="chat-container">
      <div class="chatbox-nav">
        <img src="assets/img/idni-logo.svg" height="100px" class="p-2">
        <h3 class="header-style text-4xl">IDNI Q&A</h3>
      </div>
      <div class="chat">
<!--        <pre>{{messages | json}}</pre>-->
<!--        @for (message of messages; track message){   @if(message.status == 'send'){-->
        @for (message of messages; track $index){
        @if(message.userId == '0'){
            <div class="assistant-container">
<!--              <p-avatar *ngIf="!name.logo" [label]="name.substring(0,1)" shape="circle"></p-avatar>-->
              <div class="flex flex-row">
                <span class="span-style">{{message.name}}</span>
                <span class="span-style">{{message.company}}</span>
              </div>
              <div class="assistant-text-container flex flex-row">
                <p-avatar class="pt-5 pr-2" size="normal" [label]="message.name" styleClass="assist-logo"></p-avatar>
                <p>{{message.message}}</p>
              </div>
              <div class="flex flex-row">
                <span class="span-style">{{message.dateTime}}</span>
                <span class="span-style">{{message.status}}</span>
              </div>
            </div>
          } @else{
          <div class="user-container">
           <div class="flex flex-column">
             <div class="flex flex-row justify-content-end">
               <span class="span-style">{{message.name}}</span>
               <span class="span-style">{{message.company}}</span>
             </div>
             <div class="user-text-container flex flex-row">
               <p>{{message.message}}</p>
               <p-avatar class="pt-5 pl-2" size="normal" [label]="message.name" styleClass="user-logo"></p-avatar>
             </div>
             <div class="flex flex-row justify-content-end">
               <span class="span-style">{{message.dateTime}}</span>
               <span class="span-style">{{message.status}}</span>
             </div>
           </div>
          </div>
          }
        }
      </div>
      <div class="message-container">
        <div class="message-input">
          <input type="text" class="inputText" placeholder="User writes message" [(ngModel)]="text" #inputBox (keyup.enter)="onKey($event)"/>
        </div>
        <span class="message-icon pr-4">
          <p-button icon="pi pi-send" [rounded]="true" styleClass="chat-btn" (onClick)="sendMessage()"></p-button>
        </span>
      </div>
<!--      Assistant message container test-->
<!--      <div class="message-container">-->
<!--        <div class="message-input">-->
<!--          <input type="text" class="inputText" placeholder="Assistant writes message" [(ngModel)]="message" #inputBox (keyup.enter)="onEnter($event)"/>-->
<!--        </div>-->
<!--        <span class="message-icon pr-4">-->
<!--          <p-button icon="pi pi-send" [rounded]="true" styleClass="chat-btn" (onClick)="changeUser()"></p-button>-->
<!--        </span>-->
<!--      </div>-->
    </div>
  </div>
</section>

