@if(content){
  <div class="grid">
    @for(content of content.event_items; track $index;){
      <div class="lg:col-6 md:col-8 sm:col-12 mb-4">
        <div class="news-card">
          <div class="card-head">
            <span>Date: {{content.date}}</span>
            <span class="mt-5">Time: {{content.time}}</span>
            <img src="https://app.idni.eco/assets/{{content.image}}" alt="" class="news-img">
          </div>
          <div class="card-body text-left">
            <h3 class="header-style text-2xl">{{content.title}}</h3>
            <div class="mb-3">Venue: {{content.venue}}</div>
            <div [innerHTML]="content.content"></div>
          </div>
          <div class="flex justify-content-start">
            <div class="card-footer">
              <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

}

