<app-top-page-img-tpl></app-top-page-img-tpl>

<section>
<!--  <pre>{{content | json}}</pre>-->
    @if(content){
      <section>
        <div class="container p-5">
          <h2>{{content.title}}</h2>
          <div [innerHTML]="content.content"></div>
        </div>
        <div class="container p-4">
          <app-local-decab-multi-tpl [content]="content"></app-local-decab-multi-tpl>
        </div>
      </section>
    }
  </section>

  <!--<section>-->
<!--  <div class="container p-5">-->
<!--    <h2>Local Authorities Decarbonisation</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-4 sm:col-12">-->
<!--        <img src="assets/img/news-3.jpeg" alt="" class="news-img" style="max-width:90%;">-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-7 sm:col-12">-->
<!--        <h3 class="header-style text-xl">Derry City and Strabane District Council</h3>-->
<!--        <p>Derry City and Strabane District Council is the local authority for Derry and Strabane district in Northern Ireland. It was created as part of the 2014 Northern Ireland local government reform, replacing Derry City Council and Strabane District Council.</p>-->
<!--        <div class="pt-3">-->
<!--          <p-button  routerLink="/local-decarb-single" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr class="hr-style">-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--        <h3 class="header-style text-xl">Mid South West Economic Engine</h3>-->
<!--        <p>A collaboration between Armagh City,Banbridge and Craigavon Borough Council,-->
<!--          Fermanagh and Omagh District Council and Mid Ulster District Council.</p>-->
<!--        <div class="pt-2">-->
<!--          <p-button routerLink="/msw" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--        <img src="assets/img/news-3.jpeg" alt="" class="news-img" style="max-width:90%;">-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr class="hr-style">-->
<!--  </div>-->

<!--    <div class="container p-4">-->
<!--      <div class="grid">-->
<!--        <div class="lg:col-4 sm:col-12">-->
<!--          <img src="assets/img/news-3.jpeg" alt="" class="news-img" style="max-width:90%;">-->
<!--        </div>-->
<!--        <div class="col"></div>-->
<!--        <div class="lg:col-7 sm:col-12">-->
<!--          <h3 class="header-style text-xl">Local Authority Title</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--          <div class="pt-2">-->
<!--            <p-button routerLink="/local-decarb-single" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr class="hr-style">-->
<!--    </div>-->

<!--    <div class="container p-4">-->
<!--      <div class="grid">-->
<!--        <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--          <h3 class="header-style text-xl">Local Authority Title</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--          <div class="pt-2">-->
<!--            <p-button routerLink="/local-decarb-single" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col"></div>-->
<!--        <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--          <img src="assets/img/news-3.jpeg" alt="" class="news-img" style="max-width:90%;">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</section>-->

