:host ::ng-deep .p-card .p-card-content {
  padding: 0 !important;
}

:host ::ng-deep .p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0 !important;
  margin:  0 !important;
}

//:host ::ng-deep .p-card .p-card-body {
//  padding: 0.4rem !important;
//  padding-left: 1rem !important;
//}
//
//
