<p-autoComplete [dropdown]="true" [(ngModel)]="selectedFuelType" [suggestions]="filteredFuelTypes"
                (completeMethod)="searchFuelTypes($event)" [style]="{marginLeft: '6rem'}"
                (onSelect)="changeSelectedFuelType()"
                *ngIf="!editMode" class="btn-dropdown" scrollHeight="370px"

>
</p-autoComplete>


<div class="grid" style="margin-top: 2rem" *ngIf="selectedFuelType">
  <div class="col-6" style="height: 100%">
    <p-orderList header="Selected Columns" [value]="requiredCols" styleClass="drop-column" pDroppable
                 (onDrop)="drop()" [dragdrop]="false" class="btn-date">
      <ng-template let-col pTemplate="item">
        <p-card *ngIf="col.draggable" styleClass="m-1" pDraggable (onDragStart)="dragBStart(col)"
                (onDragEnd)="dragBEnd()" class="cards">
          <div class="grid" style="display: flex; align-items: center">
            <div class="col">
              {{ col.name }}
            </div>
            <ng-container *ngIf="col.math">

              <div class="col">
                <p-checkbox label="Calculate" [(ngModel)]="col.checked" [binary]="true" inputId="binary"></p-checkbox>
              </div>
              <div class="grid" style="display: flex; align-items: center; justify-content: center "
                   *ngIf="col.checked">
                <div class="col">
                  <p-dropdown appendTo="body" [options]="requiredCols" optionLabel="name"
                              optionValue="name" [(ngModel)]="col.option1" scrollHeight="380px"></p-dropdown>
                </div>
                <div class="col">
                  <p-dropdown [(ngModel)]="col.selectedMath" [options]="mathOptions" appendTo="body"
                              scrollHeight="380px">

                    <ng-template pTemplate="selectedItem">
                      <i class="pi pi-{{col.selectedMath}}"></i>
                    </ng-template>
                    <ng-template pTemplate="item" let-option>
                      <i class="pi pi-{{option}}"></i>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="col">
                  <p-dropdown appendTo="body" [options]="requiredCols" optionLabel="name"
                              optionValue="name" [(ngModel)]="col.option2" scrollHeight="380px"></p-dropdown>
                </div>
              </div>
            </ng-container>

          </div>
        </p-card>
        <p-card *ngIf="!col.draggable" styleClass="m-1" [style]="{backgroundColor: 'rgba(0,0,0,0.02)'}">
          <div class="grid">
            <div class="col">
              {{ col.name }}
            </div>
          </div>
        </p-card>
      </ng-template>
    </p-orderList>
    <p-panel header="Columns to Total" class="col-6">
      <div class="grid">
        <ng-container *ngFor="let col of requiredCols; index as i">
          <p-checkbox *ngIf="col.type === 'number' && col.name !== 'Total'" [style]="{marginLeft: '2rem'}"
                      [(ngModel)]="col.total"
                      [binary]="true" inputId="binary"></p-checkbox>
          <p *ngIf="col.type === 'number' && col.name !== 'Total'" class="ml-1">{{ col.name }} </p>
        </ng-container>
      </div>
    </p-panel>

    <p-panel header="Data Team Admin" [style]="{marginTop: '0.5rem'}" class="col-5">
     <div class="flex flex-column">
       <label class="mb-3">Choose a custom Conversion Factor</label>
       <p-dropdown appendTo="body" [options]="fuelTypes" [(ngModel)]="customConversionFactor" ></p-dropdown>
     </div>
    </p-panel>
  </div>

  <div class="col-6" style="position: fixed; top: 120px; right: 10px">

    <button pButton label="{{editMode ? 'Update' : 'Done'}}" icon="pi pi-save" class="btn" (click)="close()"
            style="margin-bottom: 2rem; margin-left: 1rem"></button>

    <p-panel header="Available Columns" styleClass="drag-column" pDroppable (onDrop)="dropB()" class="drop-column"
             [style]="{maxHeight: '400px', overflow: 'scroll'}">
      <div *ngFor="let col of optionalCols; index as i" style="max-height: 500px">
        <p-card *ngIf="col.draggable" styleClass="m-2" pDraggable (onDragStart)="dragStart(col)"
                [style]="{cursor: 'pointer'}"
                (onDragEnd)="dragEnd()">
          {{ col.name }}
        </p-card>
        <p-card *ngIf="!col.draggable" styleClass="m-2">{{ col.name }}</p-card>
      </div>
    </p-panel>

    <p-panel header="Custom Columns" [style]="{marginTop: '0.5rem'}">
      <label>Column Name</label>
      <input pInputText [(ngModel)]="newColumn">
      <button pButton class="btn" icon="pi pi-plus" label="Create Column" (click)="addToOptionalColumns()"
              style="margin-left: 1rem"></button>
    </p-panel>


  </div>

</div>


<div *ngIf="!selectedFuelType" style="display: flex; align-items: center; justify-content: center">
  <p>Select a fuel type</p>
</div>
