@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <h2>{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
    </div>
    <div class="p-8">
      <div class="grid nested-grid">
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Mid Ulster District Council - Industrial Decarbonisation Cluster Workshop">
            <div class="grid">
              <div class="col-12">
                <iframe src="https://player.vimeo.com/video/923653202?h=658ac6fe2f" width="900" height="500"frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Demonstration of Net Zero Carbon Hub Prototype">
            <div class="grid">
              <div class="col-12">
                <iframe width="900" height="500" src="https://www.youtube.com/embed/_ogFFU_J6Sw?si=SLb3g8K3iv3sqNEF"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Powering Net Zero Carbon Hubs">
            <div class="grid">
              <div class="col-12">
                <iframe width="900" height="500" src="https://www.youtube.com/embed/g2TQXRVFrN8?si=E1fMzhj5UV0Hp2qG"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Circular Economies Within Net Zero Carbon Hubs">
            <div class="grid">
              <div class="col-12">
                <iframe width="900" height="500" src="https://www.youtube.com/embed/ATzM7_3gaiE?si=tJtdwTTzY9BF3y6K"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Net Zero Carbon Hubs in the Black Country">
            <div class="grid">
              <div class="col-12">
                <iframe width="900" height="500" src="https://www.youtube.com/embed/6wCobj8Wcfw?si=dDmaECMLtwCIGGvn"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12 p-4">
          <p-card styleClass="p-card-bck" header="Heat Vectors">
            <div class="grid">
              <div class="col-12">
                <iframe width="900" height="500" src="https://www.youtube.com/embed/bm8FPfXSjPQ?si=44Fk2ktWwZiB2u2A"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </section>
}
