<div class="grid nested-grid">
  <div class="col-3">
    <div class="grid">
      <div class="col-10">
        <img src="assets/img/led.svg" alt="">
      </div>
      <div class="col-10">
      <div class="text-center">
        <h3 class="header-style">Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt</p>
      </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="grid">
      <div class="col-10">
        <img src="assets/img/cock.svg" alt="">
      </div>
      <div class="col-10">
        <div class="text-center">
          <h3 class="header-style">Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="grid">
      <div class="col-10">
        <img src="assets/img/pv.svg" alt="">
      </div>
      <div class="col-10">
        <div class="text-center pt-3">
          <h3 class="header-style">Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="grid">
      <div class="col-10">
        <img src="assets/img/bus.svg" alt="">
      </div>
      <div class="col-10">
        <div class="text-center">
          <h3 class="header-style">Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt</p>
        </div>
      </div>
    </div>
  </div>
</div>
