
@if(carouselItems){
  <p-carousel [value]="carouselItems" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="7000">
    <ng-template let-carousel pTemplate="item">
      <div class="flex flex-column">
        <div class="flex-1 justify-content-center align-items-center">
          <div class="img-container">
            <img src="https://app.idni.eco/assets/{{carousel.image}}?height=100&format=webp" [alt]="carousel.title" class="techno-img"/>
          </div>
        </div>
        <div class="flex-1">
          <h4 class="mb-5 text-xl text-center header-style">{{ carousel.title}}</h4>
          <div class="text-center p-3" [innerHTML]="carousel.content"></div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
}

