
<p-carousel [value]="partners" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
  <ng-template let-partners pTemplate="item">
    <div class="flex flex-column">
      <div class="flex-1 justify-content-center align-items-center">
        <div class="img-container">
          <img src="{{ partners.image }}" [alt]="partners.title" class="partner-img"/>
        </div>
      </div>
      <div class="flex-1">
        <h4 class="mb-5 text-xl text-center header-style">{{ partners.title}}</h4>
        <p class="text-center p-3">{{partners.content}}</p>
      </div>
    </div>
  </ng-template>
</p-carousel>
