<!--<h1>Forgot password </h1>-->
<!--<input [(ngModel)]="email" type="email" />-->
<!--<button (click)="resetPassword()">Reset</button>-->

<section class="gradient-bck">
  <div class="container flex justify-content-center" style="padding: 30px">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="flex justify-content-center p-4" style="background:#fafafa">
        <img src="assets/img/idni-logo.svg" alt="Image" height="75">
      </div>
      <div class="text-center flex flex-column p-4 mt-4">
        <div class="text-900 text-3xl font-medium mb-3">Forgotten Password</div>
        <span class="text-600 font-medium line-height-3">We will email you instructions on how to reset your password.</span>
      </div>
      <ng-container *ngIf="!submitted">
      <div class="p-4 flex justify-content-center flex-column align-content-center" >
        <label for="email-address" class="block text-900 font-medium mb-2 text-center">Email Address</label>
        <input [(ngModel)]="email" type="email" pInputText class="w-full mb-3" id="email-address" autocomplete="on" (keydown.enter)="resetPassword()"/>
      </div>
      <div class="p-3">
        <button pButton pRipple label="Reset Password" icon="pi pi-send" class="w-full btn-style" (click)="resetPassword()"></button>
      </div>
      </ng-container>
      <ng-container *ngIf="submitted">
        <div class="p-4 flex justify-content-center flex-column align-content-center">
          <p class="align-self-center">Please check your email.</p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
