<div class="top-image-wrapper">
  <div class="top-image">
    <img src="assets/img/register-img.jpeg" alt="">
  </div>
  <div class="top-image-line">
    <app-top-page-img-tpl></app-top-page-img-tpl>
  </div>
</div>
<section>
  <div class="container">
    <h1>Privacy Notice</h1>
    <h2>Industrial Decarbonisation Northern Ireland (IDNI) </h2>
    <p>This notice relates to data collected under the Industrial Decarbonisation Northern Ireland (IDNI) project. </p>
    <p>This notice sets out how the IDNI Scheme Delivery Partners will use your personal data, business data and also sets out your rights.</p>
    <ul>Data Controllers / Scheme Delivery Partners </ul>
    <li>Invest Northern Ireland (INI) (Lead Party) </li>
    <li>Camirus</li>
    <li>Manufacturing NI</li>
    <li>Mineral Products Association NI</li>
    <li>Queen’s University Belfast - Advanced Manufacturing Innovation Center</li>
    <li>Pro Enviro</li>
    <li>The Economic Intelligence Unit (Walsall Metropolitan Borough Council)</li>
    <li>Ulster University – Smart Manufacturing Data Hub</li>
    <h3 class="header-style">YOUR DATA</h3>
    <p class="mt-4">The Data<br>

      We will process the following personal data:
      •	Identity Data, including first name, last name, title
      •	Contact Data including business address(es), email address and telephone numbers.<br>

      We will process the following business data:
      •	Identifiers useful for data matching including Meter Point Access Numbers, Meter Point Reference Numbers and Companies House Reference Numbers, Scope 1, 2 and 3 emissions data.
      •	Company Name, Council Area, SIC code, main sector area, NI Registration Number, Postcode, Turnover, the percentage of turnover from products less than 3 years old, percentage from export, number of employees, breakdown of energy costs, half hourly metre readings, breakdown of transportation costs, breakdown of material costs, raw material types, breakdown of waste costs, water costs, consultancy costs, sub contracted costs, all other external costs (such as rent, rates, hire etc).  Details of shift and work patterns on your site or sites.  This will calculate per employee Productivity score and estimate volume of emissions and categorise this emissions as scope 1, 2 or 3.
      We will capture company, sector and location based constraints.<br>


      Purpose<br>

      The purpose(s) for which we are processing your personal data & business data is to support the delivery and administration of the Industrial Decarbonisation for Northern Ireland, IDNI project and gather data to inform future policies and support for Industrial Cluster decarbonisation. Delivery and administration of the project may require linking of your data to other data held by INI.

      Your data may also be used for statistical, research and fraud prevention purposes.<br>

      Your data may also be used for monitoring and evaluation purposes, including:<br>
      •	longer term research and evaluation related to the IDNI project, for example conducting surveys and matching to other data sources to which the Government has access which cover your site (energy consumption) and business (turnover, staffing). This data is drawn from the Office for National Statistics (ONS) productivity calculator however your company data is not shared back to ONS.
      Your data will be used to produce an individual decarbonisation plan for your business.<br>
      Invest NI will also use the data to assist the delivery of additional Invest NI support interventions as appropriate.<br>
      The Partners will also process IDNI Participating Company Data in order to:<br>
      •	Enable the Scheme Delivery Partners and the Department for Energy Security and Net Zero, DESNZ to evaluate the effectiveness of existing and future cluster decarbonisation clusters;<br>
      •	Support Invest NI, Department for Economy in Northern Ireland (DfE) and DESNZ’ functions and departmental responsibilities relating to carbon reduction and Net Zero as defined by the Climate Change Act (2008);<br>
      •	Enable the Parties to carry out their responsibilities to effectively manage the spending of public funding, including, an assessment as to whether this expenditure has enabled DESNZ to meet its objectives under the scheme.<br>
      Data will be used to ensure use of public funds has delivered value for money, and realised intended benefits, including to inform policy making and identified potential mechanisms for future support in the fields of energy efficiency, fuel poverty, and health.<br>
      Data will be used for evaluation of the scheme and for the purposes of the prevention, investigation, detection or prosecution of criminal offences including fraud.<br>
      Legal Basis of Processing<br>
      The legal basis for processing of your personal data by the public sector partners (Invest NI, Ulster University, Queen’s University & Walsall Metropolitan Borough Council) is that processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller under Article 6(1)(e) of the UK GDPR.<br>
      The legal basis for processing of your personal data by the private sector partners (Pro Enviro, Camirus, Manufacturing NI & Mineral Products Association of Northern Ireland) is that processing is necessary in the pursuit of a legitimate interest under Article 6(1)(f) of the UK GDPR.<br>
      Data Sharing
      Your personal data and business data will be routinely shared across the Scheme Delivery Partners (cited above) involved in the delivery of the IDNI Project, but only aggregated anonymised data will be shared with Central Government Departments, Councils and with research organisation(s) appointed by us to conduct policy research and evaluation.<br>
      We may share your data if we are required to do so by law, for example by court order or to prevent fraud or other crime.<br>

      Security
      Your data will be kept confidential. Technical measures are implemented to ensure each participating business can only access their own data on the platform unless you choose to share your data with other participating businesses through a Community of Shared Interest (COSI). No information will be published in a form that could identify individual businesses.<br>

      Retention
      Your personal data will be stored securely by Pro Enviro for the duration of the IDNI Project. At the end of the IDNI Project, the data will be transferred to Invest NI and will be retained for 10 years. This is to meet public record keeping requirements.<br>

      Your Rights<br>
      You have the right to request information about how your personal data are processed, and to request a copy of that personal data.<br>
      You have the right to request that any inaccuracies in your personal data are rectified without delay.<br>
      You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.<br>
      You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.<br>
      You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.<br>
      You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.<br>

      Address details are listed below. Processing in respect of the Scheme Delivery Partners will be addressed in their respective Privacy Notices.<br>

      How to make a request<br>
      If you wish to make a request associated with any of the rights listed above, contact the relevant Data Controller using the contact details within their Privacy Notice.<br>

      Data Controller 	Privacy Notice Link 	Contact<br>
      Invest NI 	Privacy notice | Invest Northern Ireland (investni.com)<br>
      dpo&#64;investni.com<br>
      Pro Enviro 	 	info&#64;proenviro.co.uk<br>
      Camirus<br>
      Manufacturing NI<br>
      Mineral Products Association NI<br>
      Queen’s University Belfast Advanced Manufacturing Innovation Center<br>
      The Economic Intelligence Unit (Walsall Metropolitan Borough Council)<br>
      Ulster University – Smart Manufacturing Data Hub<br>

      International transfers<br>
      As your personal data is stored on Pro Enviro’s IT infrastructure within the UK, there will be no international transfer of data.<br>

      Complaints<br>
      If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is the UK regulator.  The Information Commissioner can be contacted at:<br>

      Information Commissioner's Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF<br>
      Telephone 0303 123 1113<br>
      https://ico.org.uk/make-a-complaint/<br>
      Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.<br>
    </p>
  </div>
</section>
