<div class="grid">
  <div class="lg:col-4 md:col-8 sm:col-12">
    <div class="news-card">
      <div class="card-head">
        <h4 class="header-style">{{content.title}}</h4>
        <img src="https://app.idni.eco/assets/{{content.image}}" alt="" class="news-img">
      </div>
      <div class="card-body" [innerHTML]="content.content"></div>
      <div class="flex justify-content-center">
        <div class="card-footer">
          <p-button routerLink="/{{content.link}}" label="Read More" [rounded]="true" styleClass="btn-style"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

