@if(articles){
  <div class="grid">
    @for(article of articles.news_articles; track $index){
      <div class="lg:col-4 md:col-8 sm:col-12">
        <div class="news-card">
          <div class="card-head">
            <h4 class="header-style">{{article.title}}</h4>
            <img src="https://app.idni.eco/assets/{{article.image}}" alt="" class="news-img">
          </div>
          <div class="card-body">
            <div [innerHTML]="article.content"></div>
          </div>
          <div class="flex justify-content-center">
            <div class="card-footer">
              <p-button label="Read More" [rounded]="true" (click)="getArticle(article.id)" styleClass="btn-style"></p-button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

}