<!-- This component is making the links in header unclickable -->
<!--<app-top-page-img-tpl></app-top-page-img-tpl>-->

<section>
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <div class="pet-card" *ngIf="!fileContent && isConsultant" [style]="{width: '70%', margin: 'auto', marginTop:'4rem'}">
          <h3 class="title">Select Company</h3>
          <p-dropdown [options]="companies" optionLabel="name" optionValue="id" [(ngModel)]="selectedCompany" [style]="{ width: '12rem'}" [disabled]="!isConsultant" scrollHeight="340px" styleClass="table-dropdown"></p-dropdown>
        </div>
<!--        <p-card *ngIf="!fileContent && selectedName" header="Select Company" [style]="{width: '70%', margin: 'auto', marginTop:'5rem'}" styleClass="card-charts">-->
<!--          {{selectedName}}-->
<!--        </p-card>-->
      </div>
      <div class="col-12">
        <div class="pet-card" *ngIf="!fileContent" [style]="{width: '70%', margin: 'auto', marginTop:'4rem'}">
          <h3 class="title">File Upload</h3>
          <p-fileUpload name="file[]" [customUpload]="true"
                        (onSelect)="getFileType($event)"
                        (uploadHandler)="onUpload($event)"
                        [multiple]="false"
                        chooseStyleClass="btn-style-upload"
                        cancelStyleClass="btn-dark-upload"
                        uploadStyleClass="btn-outline-upload">
            <ng-template pTemplate="content" style="padding:30px">

              <ul *ngIf="uploadedFiles.length" style="list-style:none">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="pet-card mt-5" *ngIf="uploadedFiles.length && isConsultant">
          <p-selectButton [options]="availableSheets" [(ngModel)]="selectedSheet" (click)="getSheetData()" class="btn-select" [style]="{padding:'10px'}"></p-selectButton>
        </div>

        <div class="pet-card mt-5" *ngIf="uploadedFiles.length && !isConsultant">
          <p-button *ngIf="isXlsx" styleClass="btn-dark m-1"  label="Send Data" (click)="sendDataToProEnviro()"></p-button>
          <p>Send data to Pro Enviro to process</p>
        </div>

        <ng-container *ngIf="fileContent">
          <div class="pet-card mt-4"  #table>
            <h3 class="title">Half-Hourly Data (HHD)</h3>
            <div class="grid">
              <div class="col-3" pDroppable (onDrop)="dropMpan()">
                 <div class="enviro-card">
                   <h3 class="title">MPAN Number</h3>
                  <ul class="list-none flex flex-column gap-2 p-0 m-0 bg-white" *ngIf="selectedMpan">
                    <li class="p-2 border-round shadow-1">
                      {{selectedMpan.name}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-3" pDroppable (onDrop)="dropStartDate()">
                <div class="enviro-card">
                  <h3 class="title">Date Column</h3>
                  <ul class="list-none flex flex-column gap-2 p-0 m-0 bg-white" *ngIf="selectedStartDate" >
                    <li class="p-2 border-round shadow-1">
                      {{selectedStartDate.name}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-3" pDroppable (onDrop)="dropFirstData()">
                <div class="enviro-card">
                  <h3 class="title">Data Start Point</h3>
                  <ul class="list-none flex flex-column gap-2 p-0 m-0 bg-white" *ngIf="selectedDataStart" >
                    <li class="p-2 border-round shadow-1">
                      {{selectedDataStart.name}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-3">
                <div class="enviro-card">
                  <h3 class="title">Data Type</h3>
                  <ul class="list-none flex flex-column gap-2 p-0 m-0">
                    <li class="">
                      <p-toggleButton [(ngModel)]="reactiveData" onLabel="kVAr" offLabel="kWh" [style]="{ width: '10em', background:'#356c6b',color:'#ffffff',padding:'6px'}"></p-toggleButton>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <p-table [value]="fileContent.slice(0,10)" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="body" let-row let-r="rowIndex">
                <tr>
                  <td *ngFor="let cell of row.slice(0,15); index as c">
                    <div pDraggable (onDragStart)="dragStart(cell, r, c)" (onDragEnd)="dragEnd()">{{ cell }}</div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <div class="pt-3">
              <button pButton class="btn-style pt-3" icon="pi pi-cog" label="Process" (click)="processData()"></button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>









