<!-- This component is making the links in header unclickable -->
<!--<app-top-page-img-tpl></app-top-page-img-tpl>-->

<section>
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <p-card *ngIf="!fileContent" header="Select Company" [style]="{width: '70%', margin: 'auto', marginTop:'5rem'}" styleClass="card-charts">
          <p-dropdown [options]="companies" optionLabel="name" optionValue="id" [(ngModel)]="selectedCompany" [style]="{ width: '12rem'}"></p-dropdown>
        </p-card>
      </div>
      <div class="col-12">
        <p-card header="File Upload" *ngIf="!fileContent" [style]="{width: '70%', margin: 'auto', marginTop:'4rem'}" styleClass="card-charts">
          <p-fileUpload name="file[]" [customUpload]="true"
                        (onSelect)="getFileType($event)"
                        (uploadHandler)="onUpload($event)"
                        [multiple]="false"
                        chooseStyleClass="btn-style"
                        cancelStyleClass="btn-dark"
                        uploadStyleClass="btn-outline">
            <ng-template pTemplate="content">

              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </p-card>

        <p-card *ngIf="uploadedFiles.length" styleClass="card-charts mt-5">
          <p-button *ngIf="isXlsx && userLevel < 3" styleClass="btn-dark m-1"  label="Send Data" (click)="sendDataToProEnviro()"></p-button>
          <p-selectButton *ngIf="userLevel >= 3"  [options]="availableSheets" [(ngModel)]="selectedSheet" (click)="getSheetData()" class="btn-select"></p-selectButton>
        </p-card>


        <ng-container *ngIf="fileContent">
          <p-card  #table  header="Half-Hourly Data (HHD)" styleClass="card-charts mt-4">
            <div class="grid">
              <div class="col-3" pDroppable (onDrop)="dropMpan()">
                 <p-card header="MPAN Number" styleClass="envirotrack-import">
                  <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedMpan">
                    <li class="p-2 border-round shadow-1">
                      {{selectedMpan.name}}
                    </li>
                  </ul>
                </p-card>
              </div>
              <div class="col-3" pDroppable (onDrop)="dropStartDate()">
                <p-card header="Date Column" styleClass="envirotrack-import">
                  <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedStartDate" >
                    <li class="p-2 border-round shadow-1">
                      {{selectedStartDate.name}}
                    </li>
                  </ul>
                </p-card>
              </div>
              <div class="col-3" pDroppable (onDrop)="dropFirstData()">
                <p-card header="Data Start Point" styleClass="envirotrack-import">
                  <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedDataStart" >
                    <li class="p-2 border-round shadow-1">
                      {{selectedDataStart.name}}
                    </li>
                  </ul>
                </p-card>
              </div>
              <div class="col-3">
                <p-card header="Data Type" styleClass="envirotrack-import">
                  <ul class="list-none flex flex-column gap-2 p-0 m-0">
                    <li class="">
                      <p-toggleButton [(ngModel)]="reactiveData" onLabel="kVAr" offLabel="kWh" [style]="{ width: '10em', background:'#356c6b',color:'#ffffff'}"></p-toggleButton>
                    </li>
                  </ul>
                </p-card>
              </div>
            </div>

            <p-table [value]="fileContent.slice(0,10)" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="body" let-row let-r="rowIndex">
                <tr>
                  <td *ngFor="let cell of row.slice(0,15); index as c">
                    <div pDraggable (onDragStart)="dragStart(cell, r, c)" (onDragEnd)="dragEnd()">{{ cell }}</div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <div class="pt-3">
              <button pButton class="btn-style pt-3" icon="pi pi-cog" label="Process" (click)="processData()"></button>
            </div>
          </p-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>









