<section>
  <div class="container">
    <p-panel header="Q&A Live Chat">
      <p class="text-center p-3">Please fill out the form below to start chatting with the next available agent.</p>
       <div class="container p-5 flex flex-column" style="width: 50%;">
         <div class="field flex flex-column">
           <label>Name</label>
           <input name="name" type="text" pInputText class="">
         </div>
         <div class="field flex flex-column">
           <label>Company Name</label>
           <input name="company-name" pInputText type="text" class="">
         </div>
         <div class="field flex flex-column">
           <label>Email</label>
           <input name="email" type="text" pInputText class="">
         </div>
         <div class="">
           <button pButton pRipple label="Start Chat" class="btn-style w-full"></button>
         </div>
       </div>
    </p-panel>
  </div>
</section>

<app-live-chat-tpl></app-live-chat-tpl>


