<section>
  <div class="container" style="padding:10px">
    <p-panel header="Q&A Live Chat">
      <p class="text-center p-3">Please fill out the form below to start chatting with the next available agent.</p>
      <div class="container p-5 flex flex-column lg:w-6 sm:w-12">
        <div class="field flex flex-column">
          <label>Name</label>
          <input [(ngModel)]="name" name="name" type="text" pInputText class="">
        </div>
        <div class="field flex flex-column">
          <label>Company Name</label>
          <input [(ngModel)]="company_name" name="company_name" pInputText type="text" class="">
        </div>
        <div class="field flex flex-column">
          <label>Email</label>
          <input [(ngModel)]="email" name="email" type="text" pInputText class="">
        </div>
        <div class="pt-3 flex justify-content-center">
          <p-button label="Start Chat" styleClass="btn-style" (onClick)="startChat()" routerLink="live-chat"></p-button>
        </div>
      </div>
    </p-panel>
  </div>
</section>

<app-live-chat-tpl></app-live-chat-tpl>


