<app-top-page-img-tpl></app-top-page-img-tpl>

<section>
  <div class="container p-5">
    <h2>{{content.title}}</h2>
    <div [innerHTML]="content.content"></div>
  </div>
  @if(content){
    @for(content of content; track $index; let e = $even){
      @if(e){
        <div class="container p-4">
          <div class="grid">
            <div class="lg:col-4 sm:col-12">
              <img src="https://app.idni.eco/assets/{{content.image}}" alt="{{content.title}}" style="max-width:90%;">
            </div>
            <div class="col"></div>
            <div class="lg:col-7 sm:col-12">
              <h3 class="header-style text-xl">{{content.title}}</h3>
              <p>{{content.dateTime | date:'EEEE dd.MM.yyyy'}}</p>
              <div [innerHTML]="content.content"></div>
              <div class="pt-3">
                <!--                <pre>{{content | json}}</pre>-->
                <p-button (click)="getArticle(content.id)" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
          <hr class="hr-style">
        </div>
      } @else {
        <div class="container p-4">
          <div class="grid">
            <div class="lg:col-7 sm:col-12">
              <h3 class="header-style text-xl">{{content.title}}</h3>
              <div [innerHTML]="content.content"></div>
              <div class="pt-3">
                <p-button (click)="getArticle(content.id)" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
              </div>
            </div>
            <div class="col"></div>
            <div class="lg:col-4 sm:col-12">
              <img src="https://app.idni.eco/assets/{{content.image}}" alt="{{content.title}}" style="max-width:90%;">
            </div>
          </div>
          <hr class="hr-style">
        </div>
      }
    }
  }
</section>
