<section>
  <p-card header="The Productivity & Emissions Tool (PET)" styleClass="card-charts" [style]="{ width: '83.5vw' }">
    <div class="container flex justify-content-end mt-2 mb-4">
      <p-button type="button" styleClass="btn-style" (click)="sidebarVisible = true" icon="pi pi-spin pi-cog"
                label="Using the PET Tool"></p-button>
    </div>
    <div class="container mt-2">
      <h3 class="text-center text-xl">The Productivity & Emissions Tool</h3>
      <p>The ID-NI Productivity & Emissions Tool (PET) is a unique and powerful tool that is easy to use and quick to
        provide key insights for business improvement. By measuring the various factors that impact Productivity we can
        also, when blended with some additional information, enable your business to begin to measure your Scope 1, 2
        and 3 emissions at your site.</p>
      <p>The important distinction for our PET is that it is not just about measuring how productive you are, it is
        highlighting those main factors that are impacting that productivity score and therefore determining your
        performance. Likewise we can calculate your emissions, using the same factors that determine your Productivity,
        to show how and where you are performing well or poorly. The low hanging fruit will typically be those areas
        that are high cost and high emissions, by solving one you improve the other.</p>
      <p>Productivity is well understood and easily measured in a number ways by any economist. As a business term, it
        is roughly understood but seldom calculated.
        The Office of National Statistics have provided a clear model for how businesses should calculate their own
        Productivity based on their business Turnover on their particular site,
        the number of employees at that site and the total external costs incurred at that site. The ID-NI Productivity
        & Emissions Tool PET goes a few steps further. Our PET is designed to not only
        focus on the main Factors those external costs, bring clarity to those costs, allow the company to begin
        measurement to those costs, both financially and in emissions generated.</p>
    </div>
    <div class="grid flex justify-content-center flex-wrap">
      <div class="col-5 p-3 mt-3">
        <p-card header="{{isConsultant ? 'Select Company' : ''}}"
                styleClass="flex justify-content-center card-charts p-2">
          @if (isConsultant) {
            <div class="p-1">
              <p-dropdown [options]="companies" [(ngModel)]="selectedCompany" optionLabel="name" optionValue="id"
                          (ngModelChange)="onSelectCompany()"
                          [style]="{ width: '15rem', marginBottom: '2rem'}" scrollHeight="300px"></p-dropdown>
            </div>
          } @else if (!isConsultant) {
            <div class="mb-5 flex justify-content-center">
              <p-card header="Selected Company" styleClass="flex justify-content-center card-charts p-2">
                <div class="flex justify-content-center">
                  <p-selectButton [options]="companies" [(ngModel)]="selectedCompany" optionLabel="name"
                                  optionValue="id" (ngModelChange)="onSelectCompany()" class="btn-select-pet"
                                  [unselectable]="true"></p-selectButton>
                </div>
              </p-card>
            </div>
          }
          <div class="flex flex-column p-1">
            <label class="text-xl font-semibold" for="sic_code">SIC Code</label>
            <p-autoComplete
              [forceSelection]="true"
              (onSelect)="sicCodeToLetter()"
              [(ngModel)]="sicCode"
              [suggestions]="filteredSicCodes"
              (completeMethod)="filterSicCode($event)"
              [style]="{marginTop: '0.5rem', fontSize: '12px', width: '100%'}"
              [inputStyle]="{fontSize: '12px', width: '100%' }"
              optionLabel="sector"
              placeholder="Enter your SIC Code. E.g. 43999"
              showTransitionOptions=".3s cubic-bezier(0, 0, 0.2, 1)"
              [showEmptyMessage]="true"
            >
              <ng-template let-sicCode pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div class="text-xs font-semibold">{{ sicCode.sector }}</div>
                  <div class="text-xs ml-1">{{ sicCode.details }}</div>
                </div>
              </ng-template>
            </p-autoComplete>

            <p class="text-xs font-medium mt-3 p-2 py-3 border-round bg-indigo-50 shadow-1"
               *ngIf="sicCode.details">{{ sicCode.details }}</p>
            <p class="text-xs font-normal mt-1 p-2 py-3 border-round bg-indigo-50 shadow-1"
               *ngIf="sicCodeLetter.length">SIC Code Letter: <span class="font-bold ml-1">{{ sicCodeLetter }}</span></p>
          </div>
        </p-card>
      </div>
    </div>
    <div class="flex justify-content-center flex-wrap mt-3">
      <div style="overflow-x:scroll">
        <p-table [value]="data" styleClass="pet-table p-datatable-sm p-datatable-gridlines" dataKey="parent.name"
                 rowGroupMode="subheader" groupRowsBy="parent.name" [customSort]="true" *ngIf="selectedCompany"
                 [tableStyle]="{'min-width': '70rem'}">

          <ng-template pTemplate="header">
            <tr>
              <th class="font-semibold p-3 col-5">Productivity Factors Year
                <p-dropdown [options]="years" [(ngModel)]="selectedYear" (ngModelChange)="onSelectYear()"
                            class="ml-2 mb-2" [style]="{ width: '10rem'}"></p-dropdown>
              </th>
              <th class="font-semibold p-3 col-1">Value</th>
              <th class="font-semibold p-3" colspan="4">Per Employee Cost</th>
              <!--            <th ></th>-->
            </tr>
            <tr>
              <th>
                <p>Turnover</p>
              </th>
              <th colspan="5" class="px-1">
                <p-inputNumber inputId="turnover" class="p-inputtext-sm" [inputStyle]="{width: '120px'}"
                               [(ngModel)]="turnover" (ngModelChange)="calculatePerEmployeeCost()"></p-inputNumber>
              </th>

            </tr>
            <tr>
              <th>
                <p>Number Of Employees</p>
              </th>
              <th colspan="5" class="px-1">
                <p-inputNumber inputId="employees" class="p-inputtext-sm" [inputStyle]="{width: '120px'}"
                               [(ngModel)]="employees" (ngModelChange)="calculatePerEmployeeCost()"></p-inputNumber>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="groupheader" let-groups let-rowIndex="rowIndex" let-expanded="expanded" *ngIf="data">
            <tr>
              <td class="expandable-rows" style="min-width: 400px">
                <button type="button" pButton pRipple [pRowToggler]="groups"
                        class="p-button-text p-button p-button-plain p-button-sm mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="font-medium ml-2 text-xs">{{ groups.parent.name }}</span>
              </td>
              <td class="px-1">
                <p-inputNumber inputId="employees" class="p-inputtext-sm" [inputStyle]="{width: '120px'}"
                               [(ngModel)]="groups.parent.totalCost"
                               (ngModelChange)="calculatePerEmployeeCost(groups)"></p-inputNumber>
              </td>
              <td colspan="4">
                <p class="ml-3"
                   *ngIf="groups.parent.secondColumn !== 0">{{ groups.parent.secondColumn.toLocaleString('en-US', twoDecimalPlaces) }}</p>
              </td>
              <!--            <td colspan="4"></td>-->
            </tr>


            <!--   Dynamic titles       -->
            <tr *ngIf="expanded && groups.parent.name === 'Cost of Raw Materials'">
              <td colspan="7" class="p-3 text-xs font-normal">
                <span>Please enter your top 10 used materials.</span>
              </td>
            </tr>
            <tr *ngIf="expanded && groups.parent.name === 'Cost of Bought in Goods - Consumables and bought in parts'">
              <td colspan="7" class="p-3 text-xs font-normal">
                <span>Please do not include capital equipment or purchase of production machinery.</span>
              </td>
            </tr>
            <tr *ngIf="expanded" style="border-bottom: 2px solid black; font-weight: 500">
              <td *ngIf="groups.name !== undefined && groups.parent.name !== 'Cost of Raw Materials'"></td>
              <td *ngIf="groups.parent.name === 'Cost of Raw Materials'">
                <span class="mr-4 ml-1 text-xs">General Material</span>
                <span class="mr-5 text-xs">Specific Material</span>
                <span class="text-xs">Format</span>
              </td>
              <td *ngIf="groups.unitsUom !== undefined">Unit Uom</td>
              <td *ngIf="groups.mode !== undefined">Mode</td>
              <td *ngIf="groups.fuelType !== undefined">Fuel Type</td>
              <td *ngIf="groups.noOfParts !== undefined">Number of Parts</td>
              <td style="width: 100px" *ngIf="groups.totalUnits !== undefined">Total Units</td>
              <td *ngIf="groups.otherModes !== undefined">Mode</td>
              <td *ngIf="groups.companyModeOfTransport !== undefined">Mode</td>
              <td *ngIf="groups.staffCommute !== undefined">Mode</td>
              <td *ngIf="groups.route !== undefined">Route</td>
              <td *ngIf="groups.cost !== undefined">Cost</td>
              <td *ngIf="groups.unitOfCost !== undefined">Unit of cost</td>
              <td *ngIf="groups.approxMileage !== undefined">Approx Mileage</td>
              <td *ngIf="groups.regionOfOrigin !== undefined">Region of Origin</td>
              <td *ngIf="groups.scrappageAndWaste !== undefined">% Scrappage & Waste in Prod</td>
              <td *ngIf="groups.percentStaff !== undefined">% Staff</td>
              <td style="width: 100px" *ngIf="groups.distance !== undefined">Average Distance (Miles)</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="rowexpansion" let-groups let-editing="editing">
            <tr style="background-color: #fff; overflow-x: scroll">
              <td *ngIf="groups.parent.name === 'Cost of Raw Materials'">
                <p-dropdown [options]="materialTypes" class="p-inputtext-sm"
                            [style]="{width: '120px', marginRight: '0.2rem'}" [(ngModel)]="groups.type"
                            placeholder="Please Select" [editable]="true"></p-dropdown>
                <p-dropdown [options]="steelMaterials" class="p-inputtext-sm"
                            [style]="{width:'120px', marginRight: '0.2rem'}" [(ngModel)]="groups.subtype"
                            *ngIf="groups.type === 'Steel'" placeholder="Please Select" [editable]="true"></p-dropdown>
                <p-dropdown [options]="otherMetals" class="p-inputtext-sm"
                            [style]="{width:'120px', marginRight: '0.2rem'}" [(ngModel)]="groups.subtype"
                            *ngIf="groups.type === 'Other Metals'" placeholder="Please Select"
                            [editable]="true"></p-dropdown>
                <p-dropdown [options]="plastics" class="p-inputtext-sm" [style]="{width:'120px', marginRight: '0.2rem'}"
                            [(ngModel)]="groups.subtype" *ngIf="groups.type === 'Plastics'" placeholder="Please Select"
                            [editable]="true"></p-dropdown>
                <p-dropdown [options]="otherMaterials" class="p-inputtext-sm"
                            [style]="{width:'120px', marginRight: '0.2rem'}" [(ngModel)]="groups.subtype"
                            *ngIf="groups.type !== 'Steel' && groups.type !== 'Other Metals' && groups.type !== 'Plastics'"
                            [editable]="true" placeholder="Please Select"></p-dropdown>
                <p-dropdown [options]="materialFormats" class="p-inputtext-sm" [style]="{width:'120px'}"
                            [(ngModel)]="groups.format" placeholder="Please Select" scrollHeight="350px"
                            [editable]="true"></p-dropdown>
              </td>

              <td [pEditableColumn]="groups.name" pEditableColumnField="name"
                  *ngIf="groups.parent.name !== 'Cost of Raw Materials'">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="groups.name" style="font-size: 12px"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p class="font-normal pl-2">{{ groups.name }}</p>
                  </ng-template>
                </p-cellEditor>
              </td>

              <td *ngIf="groups.mode">
                <p-dropdown [options]="modeOfTransport" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.mode"></p-dropdown>
              </td>
              <td *ngIf="groups.fuelType">
                <p-dropdown [options]="fuelTypes" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.fuelType"></p-dropdown>
              </td>
              <td *ngIf="groups.unitsUom">
                <p-dropdown [options]="unitsUom" [(ngModel)]="groups.unitsUom" class="p-inputtext-sm"
                            [style]="{width: '120px'}"></p-dropdown>
              </td>

              <td *ngIf="groups.noOfParts !== undefined">
                <p-inputNumber [(ngModel)]="groups.noOfParts" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>
              <td *ngIf="groups.totalUnits !== undefined">
                <p-inputNumber [(ngModel)]="groups.totalUnits" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>

              <td *ngIf="groups.otherModes !== undefined">
                <p-dropdown [options]="otherModesOfTransport" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.otherModes"></p-dropdown>
              </td>
              <td *ngIf="groups.companyModeOfTransport !== undefined">
                <p-dropdown [options]="companyModesOfTransport" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.companyModeOfTransport"></p-dropdown>
              </td>
              <td *ngIf="groups.staffCommute !== undefined">
                <p-dropdown [options]="staffCommute" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.staffCommute"></p-dropdown>
              </td>
              <td *ngIf="groups.route !== undefined">
                <p-dropdown [options]="routes" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.route"></p-dropdown>
              </td>
              <td *ngIf="groups.cost !== undefined">
                <p *ngIf="groups.cost === null">N/A</p>
                <p-inputNumber *ngIf="groups.cost !== null" [(ngModel)]="groups.cost" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"
                               (ngModelChange)="calculateGroupTotalCost(groups)"></p-inputNumber>
              </td>
              <td *ngIf="groups.unitOfCost">

                <p-dropdown [options]="unitsOfCost" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.unitOfCost"></p-dropdown>
              </td>
              <td *ngIf="groups.approxMileage !== undefined">

                <p *ngIf="groups.approxMileage === null">N/A</p>
                <p-inputNumber *ngIf="groups.approxMileage !== null" [(ngModel)]="groups.approxMileage" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>
              <td *ngIf="groups.regionOfOrigin">
                <p-dropdown [options]="regionOfOrigin" class="p-inputtext-sm" [style]="{width: '120px'}"
                            [(ngModel)]="groups.regionOfOrigin"></p-dropdown>
              </td>
              <td *ngIf="groups.scrappageAndWaste !== undefined">
                <p-inputNumber [(ngModel)]="groups.scrappageAndWaste" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>
              <td *ngIf="groups.percentStaff !== undefined">

                <p *ngIf="groups.percentStaff === null">N/A </p>
                <p-inputNumber *ngIf="groups.percentStaff !== null" [(ngModel)]="groups.percentStaff" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>

              <td *ngIf="groups.distance !== undefined">

                <p *ngIf="groups.distance === null">N/A</p>
                <p-inputNumber *ngIf="groups.distance !== null" [(ngModel)]="groups.distance" class="p-inputtext-sm"
                               [inputStyle]="{width: '100px'}"></p-inputNumber>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="footer">

            <tr>
              <td class="pl-2 py-2 font-medium text-md">Total External Cost</td>
              <td class="pl-2">
                {{ externalCost }}
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="pl-2 py-2 font-medium text-md">Productivity Score</td>
              <td class="pl-2">
                <!--              {{calculateProductivityScore()}}-->
                {{ productivityScore.toLocaleString('en-US', twoDecimalPlaces) }}
              </td>
              <td></td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td class="pl-2 py-2 font-medium text-md">ONS Productivity Comparison</td>
              <td class="pl-2">{{ productivityPercentile }}</td>
              <td></td>
            </tr>
            <tr>
              <td class="pl-2 py-2 font-medium text-md">Innovation - % of Turnover from Products <3 years</td>
              <td>
                <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" suffix="%"
                               [(ngModel)]="innovationPercent"
                ></p-inputNumber>
              </td>
              <td>
                <p class="ml-3"
                   *ngIf="innovationPercent !== 0">{{ (turnover * (innovationPercent / 100)).toLocaleString('en-US', twoDecimalPlaces) }}</p>
              </td>
            </tr>
            <tr>
              <td class="pl-2 py-2 font-medium text-md">Training - % of Staff in Training (On the Job, PT-FE, Prof'snl
                or Post Grad)
              </td>
              <td>
                <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" suffix="%"
                               [(ngModel)]="staffTrainingPercent"
                ></p-inputNumber>
              </td>
              <td>
                <p class="ml-3"
                   *ngIf="staffTrainingPercent !== 0">{{ (employees * (staffTrainingPercent / 100)).toLocaleString('en-US', twoDecimalPlaces) }}</p>
              </td>
            </tr>
            <tr>
              <td class="pl-2 py-2 font-medium text-md">Export - % of Turnover from Export</td>
              <td>
                <p-inputNumber class="p-inputtext-sm" [inputStyle]="{width: '150px'}" suffix="%"
                               [(ngModel)]="exportPercent"
                ></p-inputNumber>
              </td>
              <td>
                <p class="ml-3"
                   *ngIf="exportPercent !== 0"> {{ (turnover * (exportPercent / 100)).toLocaleString('en-US', twoDecimalPlaces) }}</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="p-3">
                  <p-button label="Save" *ngIf="selectedCompany" (click)="savePETdata()" styleClass="btn-style"
                            icon="pi pi-save"></p-button>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="groupfooter" let-groups>

            <tr class="p-rowgroup-footer" style="background-color: #fff">
              <td style="text-align: right" class="py-2 pr-1">Totals</td>
              <td *ngIf="groups.unitsUom !== undefined"></td>
              <td *ngIf="groups.mode !== undefined"></td>
              <td *ngIf="groups.fuelType !== undefined"></td>
              <td *ngIf="groups.noOfParts !== undefined"></td>
              <td *ngIf="groups.totalUnits !== undefined"></td>
              <td *ngIf="groups.otherModes !== undefined"></td>
              <td *ngIf="groups.companyModeOfTransport !== undefined"></td>
              <td *ngIf="groups.staffCommute !== undefined"></td>
              <td *ngIf="groups.route !== undefined"></td>
              <td *ngIf="groups.cost !== undefined">{{ groups.parent.totalCost }}</td>
              <td *ngIf="groups.unitOfCost !== undefined"></td>
              <td *ngIf="groups.approxMileage !== undefined"></td>
              <td *ngIf="groups.regionOfOrigin !== undefined"></td>
              <td *ngIf="groups.scrappageAndWaste !== undefined"></td>
              <td *ngIf="groups.percentStaff !== undefined"></td>
              <td *ngIf="groups.distance !== undefined"></td>
            </tr>
            <tr style="background-color: #fff" *ngIf="groups.parent.addRows">
              <td colspan="6" class="pl-2">
                <p-button icon="pi pi-plus" size="small" label="Add New {{groups.parent.name}}"
                          (click)="createNewTableRow(groups)" styleClass="btn-dark mt-3 mb-3"></p-button>
                <p-button *ngIf="groups.parent.name === 'Company Travel'" icon="pi pi-plus" size="small"
                          label="Add New Staff Commute" (click)="addNewStaffCommuteRow(groups)"
                          styleClass="btn-dark mt-3 mb-3 ml-2"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="" style=" margin-top: 100px" *ngIf="this.chartData">
      <p *ngIf="chartOptions" class="text-xs">Source: ONS by sector (latest year: 2021)</p>
      <div class="flex justify-content-start">
        <div echarts [options]="chartOptions" style="max-height: 80vh; height: 70vh; width: 70vw"></div>
      </div>
    </div>
  </p-card>
</section>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="lg:w-5 md:w-7">
  <div class="p-4">
    <h3 class="header-style">Using the PET Tool</h3>
    <p>There are 4 levels of engagement using the PET tool. At no stage will one business be able to identify and see
      another businesses data. Levels 1 & 2 are free to use, Level 1 is available to everyone but only businesses that
      have agreed to share their data for the ID-NI project will be able to use Level 2. Level 3 is also free to use but
      is only available to companies who have been selected as part of a regional cluster of companies. Like level 2,
      level 3 requires that the company has agreed to share their data with the project. All Level 2 companies who have
      submitted accurate data will receive charts profiling their energy usage, an indication of the Scope 2 emissions
      and an initial plan for decarbonisation. Level 3 companies will received a more detailed decarbonisation plan
      highlighting how they can save money and reduce their Scope 1 and 2 emissions. They will also have a 1 day site
      visit and an individual detailed report. Level 4 is self funded but also requires the company to share their data
      with the project. It is subject to negotiation between the company and the assessor but cover something equivalent
      to a Level 3 assessment or may deliver a much more detailed decarbonisation strategy for the business or them
      signing up to the Science Based Targets Initiative SBTI at an additional cost.</p>
    <p-divider></p-divider>
    <h3 class="header-style mt-5">Level 1</h3>
    <p>The open access level 1, PET tool is located on the ID-NI Knowledge Sharing Platform. It only has the
      Productivity capability available. If a company inputs their data at Level 1 access their data will not be stored.
      Unless when prompted they agree to share their data, as which point they are granted Level 2 access. If they do
      not agree then not data will be stored and only their productivity information will be used to see how productive
      they are compared to other companies of a similar size or from the same sector are performing. They will be asked
      to complete the following fields</p>
    <ul>
      <li>Turnover (£)</li>
      <li>No. of Employees</li>
      <li>Cost of Energy (£)</li>
      <li>Cost of Raw Materials (£)</li>
      <li>Cost of Bought in Parts and Equipment (motors, drives, batteries etc) (£)</li>
      <li>Cost of Waste and Water (£)</li>
      <li>Cost of Transport and Travel (£)</li>
      <li>Consultancy Costs (Technical, Financial, Marketing etc) (£)</li>
      <li>Cost of Sub Contracted Manufacture (£)</li>
      <li>Other External Costs (Rent, Legal etc) (£)</li>
      <li>Your SIC Code</li>
      <li class="font-semibold">Note: Do not include internal salary and labour costs</li>
    </ul>
    <p>From this we will be able to calculate your current productivity score for this site and show how you are
      performing compared to the average company in you sector or of a similar size.</p>
    <p-divider></p-divider>
    <h3 class="header-style mt-5">Level 2</h3>
    <p>Level 2 access will require the company to agree to share their data with the project. The company will provide
      the same productivity information as outlined in Level 1 but must also send or upload their ½ hourly energy data (
      Electric and or Gas). As the complete each of the productivity factors they will be prompted to provide additional
      information. For example when they put in their total energy cost and send the 1/2 hourly data they will then be
      asked to breakdown the different types of energy and fuels they use at their site. In transport they will be asked
      to identify the different modes of transport they use.</p>
  </div>
</p-sidebar>
