:host ::ng-deep .pet-table {

  tr {

    th,td {
      font-size: 0.8rem;
      padding: 0.1rem 0.1rem;
    }
    th {
      font-weight: 400;
    }
    th:first-child {
      padding: 0.5rem;
    }

  }
}

.expandable-rows {
  display: flex;
  align-items:center;
}

:host ::ng-deep .p-rowgroup-footer td {
  font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
  span {
    font-weight: 700;
  }

  .p-row-toggler {
    vertical-align: middle;
    margin-right: .25rem;
  }
}


:host ::ng-deep .p-dropdown-label  {
  font-size: 12px !important
}

:host ::ng-deep .p-dropdown-item  {
  font-size: 12px !important
}

:host ::ng-deep .p-dropdown-trigger  {
  width: 2rem !important;
}

:host ::ng-deep .p-autocomplete-empty-message {
  padding: 0.2rem;
  font-size: 12px
}
