<div class="flex mt-5">
<!--  <div class="flex-1">-->
<!--    <p-panel header="Select Company">-->
<!--      <p-selectButton [options]="companies" [(ngModel)]="selectedCompany" optionLabel="name" optionValue="id" (ngModelChange)="onSelectCompany()" class="btn-select"></p-selectButton>-->
<!--    </p-panel>-->
<!--  </div>-->
<!--  <div class="flex-1" *ngIf="mpan.length">-->
<!--    <p-panel header="Select Mpan">-->
<!--      <p-selectButton [options]="mpan" [(ngModel)]="selectedMpan" (ngModelChange)="onSelectMpan($event)" class="btn-select"></p-selectButton>-->
<!--    </p-panel>-->
<!--  </div>-->
</div>
<p-card header="Maximum Import Capacity (MIC)">
  <div>
    <p-button type="button" styleClass="btn-style mb-4" (click)="ascGuide = true" icon="pi pi-chart-line" label="MIC Guide"></p-button>
  </div>
  <div class="grid p-3">
    <div class="lg:col-6 md:col-12">
      <p-card header="Company Supply" styleClass="card-select-panel">
        <p-table [value]="supplyList" dataKey="id" editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>MPAN</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>MIC</th>
              <th>Save</th>
              <th>Delete</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-supply let-ri="rowIndex" let-editing="editing">
            <tr  [pEditableRow]="supply" #rowEdit>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="supply.id" [readOnly]="true">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ supply.id }}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="supply.mpan">
                  </ng-template>

                  <ng-template pTemplate="output">
                    {{supply.mpan}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <div style="'height: 300px'"></div>
                    <input type="date" pInputText [(ngModel)]="supply.start_date">
                  </ng-template>

                  <ng-template pTemplate="output">
                    {{supply.start_date.format('DD/MM/YYYY')}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="date" [(ngModel)]="supply.end_date">
                  </ng-template>

                  <ng-template pTemplate="output">
                    {{supply.end_date.format('DD/MM/YYYY')}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="supply.asc">
                  </ng-template>

                  <ng-template pTemplate="output">
                    {{supply.asc}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onSupplyEditInit(supply)" class="p-button-rounded p-button-text p-button-success"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="editSupply(supply)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onSupplyEditCancel(supply, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
              </td>
              <td><button pButton (click)="removeSupply(supply.id)" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button></td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
    <div class="lg:col-6 md:col-12">
      <p-card header="New Supply" styleClass="card-select-panel">
        <div class="p-3">
          <div class="flex p-2">
            <div class="flex flex-1">
              <label>MPAN Number</label>
            </div>
            <div class="flex flex-1">
              <input type="text" pInputText placeholder="Mpan" [(ngModel)]="mpan">
            </div>
          </div>

          <div class="flex p-2">
            <div class="flex flex-1">
              <label>Start Date</label>
            </div>
            <div class="flex flex-1">
              <input type="date" pInputText [(ngModel)]="startDate">
            </div>
          </div>

          <div class="flex p-2">
            <div class="flex flex-1">
              <label>End Date</label>
            </div>
            <div class="flex flex-1">
              <input type="date" pInputText [(ngModel)]="endDate">
            </div>
          </div>

          <div class="flex p-2">
            <div class="flex flex-1">
              <label>ASC</label>
            </div>
            <div class="flex flex-1">
              <input type="text" pInputText placeholder="ASC" [(ngModel)]="asc">
            </div>
          </div>

          <div class="flex p2">
            <div class="flex flex-1 pt-3">
              <button pButton class="btn-style" label="Save" icon="pi pi-save" (click)="addSupply()"></button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</p-card>


<p-sidebar [(visible)]="ascGuide" position="right" styleClass="lg:w-5 md:w-7">
  <div class="container p-5">
    <h3 class="header-style">Maximum Import Capacity Guide</h3>
    <p>The Authorised Supply Capacity (ASC) it is the total amount of electrical load available to your site, or the peak
      electrical demand you could use if you switched on lots of electrical equipment at the same time. It can also be referred to as Agreed Supply Capacity, Authorised Supply Capacity, Supply Capacity, Supply Availability or simply ASC.</p>
    <p>
      The Maximum Import Capacity (MIC) is the highest amount of electrical power (measured in kilovolt-amperes, or kVA) that a customer or facility is allowed to import from the electricity grid at any given time.
      It represents the contractual limit agreed between the electricity provider and the consumer, and it reflects the maximum load or capacity that a customer can draw from the grid without incurring additional charges.
    </p>
    <p-divider></p-divider>
    <h3>Adding New Maximum Capacity:</h3>
    <p>To add new supply, please fill the following fields – MPAN Number, Start and End date and the Maximum Import Capacity (MIC) value in kVA.</p>
    <p-divider></p-divider>
    <h3>How to view the MIC against demand:</h3>
    <p>To access the MIC, please select the 'Maximum Demand' option from the menu.</p>
  </div>
</p-sidebar>
