<app-top-page-img-tpl></app-top-page-img-tpl>

<section>
  <div class="container">
    <h2>MID SOUTH WEST</h2>
    <h3>Economic Engine</h3>
    <p>The region itself makes up half of Northern Ireland's landmass and is home to a quarter of the province's population and a
      quarter of its business. Mid South West provides 214,000 workplace jobs, 90% of which are taken up by local people, and generates one fifth of Northern Ireland's entire GVA.</p>
  </div>
  <div class="container">
    <div class="grid">
      <div class="lg:col-4 sm:col-12">
        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">
      </div>
      <div class="col-7 p-8">
        <h3 class="header-style">The Mid South West Region</h3>
        <ul>
          <li>Accounts for almost half of Northern Ireland's land mass.</li>
          <li>Has the largest proportion of the Border Corridor.</li>
          <li>Is strategically located on a North/shouth/Eat/West axis.</li>
          <li>Has sectoral strengths in advanced manufacturing, engineering, agri-food, health and life sciences, tourism and construction.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="grid">
      <div class="col-7 p-8">
        <h3 class="header-style">INNOVATE UK: NET ZERO LIVING PROGRAMME VISION</h3>
        <h4>“For UK places and communities to thrive through their transition to net zero”</h4>
        <p>The FAST FOLLOWERS PROGRAMME will:</p>
        <ul>
          <li>Support 21 Local Authorities across the UK to address non technical barriers to Net Zero transition.</li>
          <li>Invest a total of £6 million, up to £300k per place, to accelerate delivery of net zero – MSW is one of three places in Northern Ireland to secure funding alongside Derry City & Strabane District Council and Mid & East Antrim Borough Council.</li>
          <li>Provide ‘Future Ready’ specialist support e.g. citizen engagement, procurement, digital.</li>
          <li>Support the employment of a dedicated Net Zero Innovation & Delivery Officer in each place.</li>
          <li>Be delivered over a two year period i.e. 2023-2025.</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="grid">
      <div class="col-4">
        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">
      </div>
      <div class="col-7">
        <h3 class="header-style">Net Zero Transformation will deliver on a number of key areas including:</h3>
        <ul>
          <li>Removing non-technical barriers through investment in engagement,education,mentorship and access to external expertise to develop knowledge, skills and capacity.</li>
          <li>Addressing human, process and non-technical barriers by taking a place-based approach to the industry-led development of sectoral specific Net Zero opportunity assessments and action plans.</li>
          <li>Using a collaborative platform to disseminate project learnings corporately across key departments of the three MSW Partner Councils to deliver social,economic and environmental improvements.</li>
          <li>Established the MSW Region as a regional Climate Commission,supported under the Place Based Climate Action Network (PCAN) Network Plus.</li>
          <li>Share best practice through knowledge transfer and dissemination events aimed at improving basic skills held by industry across MSW Region.</li>
          <li>Support local manufacturing businesses towards MSW Growth Deals funds and funds stemming from the NI Climate Action Plan as well as other sources which will support productivity improving Net Zero technologies.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="grid">
      <div class="col-7 p-8">
        <h3 class="header-style">Expected MSW Programme Deliverables</h3>
        <ul>
          <li>Creation of 3 sector specific,industry-led Net Zero Opportunity Assessment Plans - one each for Agri-food, Advanced Manufacturing and Engineering, and Construction.</li>
          <li>At least 90 business engaged with Net Zero baselines established and action plans developed.</li>
          <li>A Net Zero assessment toolkit and reference materials developed that are made available to all 27,155 registered businesses in the region via the MSW website.</li>
          <li>Up to 6 business-focused Net Zero webinars hosted to disseminate Net Zero learnings.</li>
          <li>Host three business director-level Net Zero strategic business meetings (one per Council area) engaging 90 senior business leaders.</li>
          <li>A regional Net Zero Conference and Exhibition (Year 2) showcasing key technologies of relevance to the manufacturing sectors in the MSW Region.</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">
      </div>
    </div>
  </div>

</section>
