
<section id="form">
  <div class="container p-3">
    <h2 class="header-style">Registration Form</h2>
    <p>Fields marked with <span style="color:#006633">*</span> are mandatory</p>
    <ul>
      <li>Fields marked with <span style="color:#006633">*</span> are mandatory.</li>
      <li>You will require your <a href="https://www.gov.uk/government/organisations/companies-house" target="_blank" style="color:#85bfba">companies house reference number.</a></li>
      <li>You will require a unique property reference. You can find this by looking up your business postal address using: <a href="https://www.findmyaddress.co.uk/" target="_blank" style="color:#85bfba">www.findmyaddress.co.uk</a></li>
    </ul>
  </div>
  <div class="container">
    <app-register></app-register>
  </div>
</section>
