@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <h2>{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
    </div>
    @for(content of content.items; track $index; let e = $even){
      @if(e){
        <div class="container p-4">
          <div class="grid bottom-line">
            <div class="lg:col-4 sm:col-12">
              <img src="https://app.idni.eco/assets/{{content.image}}" alt="{{content.title}}" class="partner-logo">
            </div>
            <div class="col"></div>
            <div class="lg:col-7 sm:col-12">
              <h3 class="header-style">{{content.title}}</h3>
              <div [innerHTML]="content.content"></div>
              <div class="pt-5 pb-3">
                <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      }@else{
        <div class="container p-4">
          <div class="grid bottom-line">
            <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">
              <h3 class="header-style">{{content.title}}</h3>
              <div [innerHTML]="content.content"></div>
              <div class="pt-5 pb-3">
                <p-button label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
              </div>
            </div>
            <div class="col"></div>
            <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">
              <img src="https://app.idni.eco/assets/{{content.image}}" alt="{{content.title}}" class="partner-logo">
            </div>
          </div>
        </div>
      }
    }
  </section>
}
