@if(content){
  <div class="container p-5">
    <h2>{{content.title}}</h2>
    <div [innerHTML]="content.content"></div>
  </div>
  @for(items of  pageItems; track $index; let e = $even){
    @if(e){
      <div class="container p-4">
        <div class="grid">
          <div class="lg:col-4 sm:col-12">
            <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">
          </div>
          <div class="col"></div>
          <div class="lg:col-7 sm:col-12">
            <h3 class="header-style text-xl">{{items.title}}</h3>
            <div [innerHTML]="items.content"></div>
          </div>
        </div>
      </div>
    } @else {
      <div class="container p-4">
        <div class="grid">
          <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">
            <h3 class="header-style text-xl">{{items.title}}</h3>
            <div [innerHTML]="items.content"></div>
          </div>
          <div class="col"></div>
          <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">
            <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">
          </div>
        </div>
      </div>
    }
  }
}






<!--<section>-->
<!--  <div class="container p-5">-->
<!--    <h2>Derry City & Strabane District Council</h2>-->
<!--    <p>Derry City and Strabane District Council is the local authority for Derry and-->
<!--      Strabane district in Northern Ireland. It was created as part of the 2014 Northern Ireland local government reform, replacing Derry City Council and Strabane District Council.</p>-->
<!--    <p>Derry City and Strabane District Council (DCSDC) is committed to building the profile of the North West as a unique and exciting destination, and creating the perfect environment for businesses to thrive.-->
<!--      Serving a population of 150,000 Council is working closely with a range of partners to drive social, economic and environmental change here through its Strategic Growth Plan.</p>-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--     <div class="grid">-->
<!--       <div class="lg:col-4 sm:col-12">-->
<!--         <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--       </div>-->
<!--       <div class="col"></div>-->
<!--       <div class="lg:col-7 sm:col-12">-->
<!--         <h3 class="header-style text-xl">Derry and Strabane‘s Carbon Footprint <br>Past, Present, Projected (Direct Emissions - Scope 1 and 2)</h3>-->
<!--         <ul>-->
<!--           <li>These figures don’t account for consumption-based emissions, i.e. those associated with the goods and services consumed within Derry and Strabane.</li>-->
<!--           <li>Its current emissions are 1.7 MT CO2e a year, meaning that it will have used up its share of the global carbon budget in less than 4 years.</li>-->
<!--         </ul>-->
<!--         <p class="font-italic font-light pt-2">Derry and Strabane’s current carbon footprint is 1,743 kt per annum.</p>-->
<!--       </div>-->
<!--     </div>-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--        <h3 class="header-style text-xl">Derry and Strabane’s Total Energy Bill <br>Past, Present, Projected</h3>-->
<!--        <ul>-->
<!--          <li>Energy prices are estimated at £343 million across all sectors in 2021.</li>-->
<!--          <li>This is forecast to increase to £487 million in 2023 and £476 million in 2023.</li>-->
<!--          <li>The domestic sector accounts for 48% of energy costs in 2022, up from 43% in 2021.</li>-->
<!--        </ul>-->
<!--        <p class="font-italic font-light pt-2">Total energy expenditure was £343 million in 2021 in Derry and Strabane.</p>-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-4 sm:col-12">-->
<!--        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-7 sm:col-12">-->
<!--        <h3 class="header-style text-xl">Derry and Strabane Industrial Sector Results</h3>-->
<!--        <p>The industrial sector results are currently preliminary due to ongoing development in the new industry model, with results being presented shortly.</p>-->
<!--        <p class="font-semibold">Cost-effective:</p>-->
<!--        <ul>-->
<!--          <li>Mitigates 32%, or 78 kt in 2050.</li>-->
<!--          <li>Costs £581 million, and generates savings of £928 million over lifetime.</li>-->
<!--        </ul>-->
<!--        <p class="font-semibold">Cost-Neutral:</p>-->
<!--        <ul>-->
<!--          <li>Mitigates 44% (107 kt) in 2050.</li>-->
<!--          <li>Costs £906 million, with savings of £1.1 billion over lifetime.</li>-->
<!--        </ul>-->
<!--        <p class="font-semibold">Technical Potential:</p>-->
<!--        <ul>-->
<!--          <li>Mitigates 75% (182 kt) in 2050.</li>-->
<!--          <li>Costs £1.7 billion, with savings of £1.1 billion over lifetime.</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--        <h3 class="header-style text-xl">Derry & Strabane Strategic Growth Plan & City Deal Priorities </h3>-->
<!--        <p>Council undertakes to:<br>-->
<!--          Ensure that all strategic and policy decisions and budgets-->
<!--          will immediately fall	in line with the shift to net zero greenhouse gas emissions by 2045 while also ensuring that the Derry City and-->
<!--          Strabane District Council area is as far as practically possible prepared for and resilient to the effects of climate change.-->
<!--        </p>-->
<!--        <p class="font-italic font-light">DCSDC Climate Pledge 2020</p>-->
<!--        <p class="font-italic font-light">(Approved by Council July 2020)</p>-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-4 sm:col-12">-->
<!--        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-7 sm:col-12">-->
<!--        <h3 class="header-style text-xl">Derry City & Strabane Climate Risk</h3>-->
<!--        <p class="font-semibold">Hazards</p>-->
<!--        <ul>-->
<!--          <li>Increased Temperature / Low Rainfall</li>-->
<!--          <li>Increased Precipitation / Sea Level Rise & Flood Risk</li>-->
<!--          <li>Storms</li>-->
<!--          <li>Winter Average Temperature Increase</li>-->
<!--        </ul>-->
<!--        <p class="font-semibold">Risks</p>-->
<!--        <ul>-->
<!--          <li>Risks to infrastructure, business & industry, residential, public realm and wider elements, such as transport routes, from flooding.</li>-->
<!--          <li>Risks to infrastructure, business & industry, residential, public realm and wider elements, such as transport routes from storms.</li>-->
<!--          <li>Risks to infrastructure, business & industry, public realm and residential components from heavy rainfall.</li>-->
<!--          <li>Risks to commercial, business & industry, residential and health and education components from heatwaves.</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container p-4">-->
<!--    <div class="grid">-->
<!--      <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--        <h3 class="header-style text-xl">Derry & Strabane Net Zero</h3>-->
<!--        <p>Realise the ambition of a net zero climate resilient City & District by 2045 through transformational systems including SMART climate action plans underpinned by place based insights, collaboration and capacity building.</p>-->
<!--      </div>-->
<!--      <div class="col"></div>-->
<!--      <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--        <img src="assets/img/woman-in-muanufacturing.jpeg" alt="women" class="page-img">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
