<!--@if(content){-->
<!--<section class="factsheet">-->
<!--&lt;!&ndash;      <pre>{{content | json}}</pre>&ndash;&gt;-->
<!--  <div class="w-6">-->
<!--    <div class="grid flex justify-content-center">-->
<!--      <div class="col-6">-->
<!--        <img  src="https://app.idni.eco/assets/{{content.idni_logo}}" class="ml-4" alt="" style="max-height:100px">-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <img  src="https://app.idni.eco/assets/{{content.partner_logo}}" alt="" style="max-height:100px">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container p-4" style="margin-top:6rem">-->
<!--    <h2 >{{content.title}}</h2>-->
<!--    <div [innerHTML]="content.content"></div>-->
<!--  </div>-->
<!--    @for(items of content.items; track $index; let e = $even){-->
<!--      @if(e){-->
<!--        <div class="container p-4">-->
<!--          <div class="grid">-->
<!--            <div class="lg:col-4 sm:col-12">-->
<!--              <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">-->
<!--            </div>-->
<!--            <div class="col"></div>-->
<!--            <div class="lg:col-7 sm:col-12">-->
<!--              <h3 class="header-style text-xl">{{items.title}}</h3>-->
<!--              <div [innerHTML]="items.content"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      } @else {-->
<!--        <div class="container p-4">-->
<!--          <div class="grid">-->
<!--            <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">-->
<!--              <h3 class="header-style text-xl">{{items.title}}</h3>-->
<!--              <div [innerHTML]="items.content"></div>-->
<!--            </div>-->
<!--            <div class="col"></div>-->
<!--            <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">-->
<!--              <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      }-->
<!--    }-->
<!--  @for(files of content.factsheet_files; track $index){-->
<!--    <div class="container p-6">-->
<!--      <div class="grid nested-grid">-->
<!--        <div class="col-3">-->
<!--          <i class="pi pi-file-pdf" style="font-size: 8rem; color:#b5dad6"></i>-->
<!--        </div>-->
<!--        <div class="col-9">-->
<!--          <div class="grid">-->
<!--            <div class="col-6">-->
<!--              <p>Name: {{files.name}}</p>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <p>File Size: {{files.file_size}}</p>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <p>Date Published: {{files.date_published}}</p>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <p>Date Range: {{files.date_range}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
<!--  <div class="container p-6">-->
<!--    <h3 class="header-style-blue text-3xl mb-5">Contact Details</h3>-->
<!--    <div class="grid">-->
<!--      <div class="col-3">-->
<!--        <i class="pi pi-map-marker header-style-blue" style="font-size: 2rem"></i>-->
<!--        <h3 class="header-style font-medium">Address:</h3>-->
<!--        <p class="w-8">{{content.address}}</p>-->
<!--      </div>-->
<!--      <div class="col-3">-->
<!--        <i class="pi pi-phone header-style-blue" style="font-size: 2rem"></i>-->
<!--        <h3 class="header-style font-medium">Phone Number:</h3>-->
<!--        <p>{{content.phone_number}}</p>-->
<!--      </div>-->
<!--      <div class="col-3">-->
<!--        <i class="pi pi-globe header-style-blue" style="font-size: 2rem"></i>-->
<!--        <h3 class="header-style font-medium">Website:</h3>-->
<!--        <a href="{{content.website}}" target="_blank" style="text-decoration: none">{{content.website}}</a>-->
<!--      </div>-->
<!--      <div class="col-3">-->
<!--        <i class="pi pi-envelope header-style-blue" style="font-size: 2rem"></i>-->
<!--        <h3 class="header-style font-medium">Email:</h3>-->
<!--        <p>{{content.email}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--}-->


@if(content){
  <section class="factsheet">
    <!--      <pre>{{content | json}}</pre>-->
    <div class="w-6">
      <div class="grid flex justify-content-center">
        <div class="col-6">
          <img  src="https://app.idni.eco/assets/{{content.idni_logo}}" class="ml-4" alt="" style="max-height:100px">
        </div>
        <div class="col-6">
          <img  src="https://app.idni.eco/assets/{{content.partner_logo}}" alt="" style="max-height:100px">
        </div>
      </div>
    </div>
    <div class="container p-4" style="margin-top:6rem">
      <h2 >{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
      <div class="grid">
        <div class="col-6">
          <img src="https://app.idni.eco/assets/{{content.page_image}}" alt="" class="page-img">
        </div>
        <div class="col-5">
          <div class="p-8" [innerHTML]="content.summary"></div>
        </div>
      </div>
    </div>
    @for(files of content.factsheet_files; track $index){
      <div class="container p-5">
        <div class="grid nested-grid bottom-line">
          <div class="lg:col-3 sm:col-12">
           <div class="flex flex-column">
             <i class="pi pi-file-pdf" style="font-size: 6rem; color:#b5dad6"></i>
             <a href="{{files.document_link}}" target="_blank"  class="text-sm pt-2"><p-button styleClass="btn-outline" [raised]="true" label="Read More" size="small"></p-button></a>
           </div>
          </div>
          <div class="lg:col-9 sm:col-12">
            <div class="grid">
              <div class="col-12">
                <p>Name: {{files.name}}</p>
              </div>
              <div class="col-4">
                <p>Date Published: {{files.date_published}}</p>
              </div>
              <div class="col-4">
                <p>Date Range: {{files.date_range}}</p>
              </div>
              <div class="col-4">
                <p>File Size: {{files.file_size}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="container p-6">
      <h3 class="header-style-blue text-3xl mb-5">Contact Details</h3>
      <div class="grid">
        <div class="lg:col-3 sm:col-12">
          <i class="pi pi-user header-style-blue" style="font-size: 2rem"></i>
          <h3 class="header-style font-medium">Contact Person</h3>
          <p class="w-6">{{content.name}}</p>
          <p class="text-xs font-italic mr-2">{{content.position}}</p>
        </div>
        <div class="lg:col-3 sm:col-12">
          <i class="pi pi-map-marker header-style-blue" style="font-size: 2rem"></i>
          <h3 class="header-style font-medium">Address:</h3>
          <p class="w-8">{{content.address}}</p>
        </div>
        <div class="lg:col-3 sm:col-12">
          <i class="pi pi-phone header-style-blue" style="font-size: 2rem"></i>
          <h3 class="header-style font-medium">Phone Number:</h3>
          <p class="w-7">{{content.phone_number}}</p>
        </div>
        <div class="lg:col-3 sm:col-12">
          <i class="pi pi-globe header-style-blue" style="font-size: 2rem"></i>
          <h3 class="header-style font-medium">Website:</h3>
          <a href="{{content.website}}" target="_blank"  class="text-sm">{{content.website}}</a>
        </div>
      </div>
    </div>
    <div class="container mt-4 p-4" style="background-color: #fbfbfb">
      <div class="flex justify-content-evenly">
          <img  src="https://app.idni.eco/assets/{{content.idni_logo}}" class="ml-4" alt="" style="max-height:100px">
          <img  src="https://app.idni.eco/assets/{{content.partner_logo}}" alt="" style="max-height:100px">
      </div>
    </div>
  </section>
}
