<section class="pr-5">
  <p-card styleClass="card-charts">
    <div>
      <p-card styleClass="card-select-panel" header="{{isConsultant ? 'Select Company' : ''}}" [style]="{ width: '30%' }">
        <div class="p-1">
          <p-dropdown
            [options]="companies"
            [(ngModel)]="selectedCompany"
            optionLabel="name"
            optionValue="id"
            (ngModelChange)="onSelectCompany()"
            [style]="{ width: '15rem', marginBottom: '2rem'}" scrollHeight="300px"
            [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
        </div>
      </p-card>
    </div>
    <div class="grid mt-3">
      <div class="lg:col-6 sm:col-12 md:col-12">
        <p-card header="Reports">
          @for (file of reportFiles; track file){
            <a pButton icon="pi pi-download" [label]="file.title" href="https://app.idni.eco/assets/{{file.id}}?download" class="btn-style"></a>
          }
        </p-card>
      </div>
      <div class="lg:col-6 sm:col-12 md:col-12">
        <p-card header="Data">
          @for (file of dataFiles; track file){
              <div class="p-2">
                <a pButton icon="pi pi-download" [label]="file.title" href="https://app.idni.eco/assets/{{file.id}}?download" class="btn-dark"></a>
              </div>
          }
        </p-card>
      </div>
    </div>
  </p-card>
</section>
