<div class="flex hero" style="background-image: url('assets/img/bg.jpeg')">
  <div class="flex flex-1 bg-arrow align-items-center">
    <div class="content">
      <h1 class="text-5xl">Industrial Decarbonisation <br>Northern Ireland</h1>
      <p class="text-2xl">Taking an innovative dual-approach to address carbon reduction in Northern Ireland (NI), providing businesses with support,
        advice, tools, and metrics to enable NI industry to increase productivity whilst, at the same time, reducing emissions. </p>
    </div>
  </div>
  <div class="flex-1">

  </div>
</div>
