<div class="flex hero" style="background-image: url('../../../assets/img/bg.jpeg')">
  <div class="flex flex-1 bg-arrow align-items-center">
    <div class="content">
      <h1>Industrial Decarbonisation <br>Northern Ireland</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <div class="flex-1">

  </div>
</div>
