<div class="hero" style="background-image: url('assets/img/bg.jpeg')">
  <div class="bg-arrow">
    <div class="content">
      <div class="grid">
        <div class="lg:col-6 md:col-7 sm:col-6">
          <h1 class="lg:text-5xl md:text-xl sm:text-lg">Industrial Decarbonisation <br>Northern Ireland</h1>
          <p class="lg:text-2xl md:text-base sm:text-base">Taking an innovative dual-approach to address carbon reduction in Northern Ireland (NI), providing businesses with support,
            advice, tools, and metrics to enable NI industry to increase productivity whilst, at the same time, reducing emissions. </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="hero" style="background-image: url('assets/img/bg.jpeg')">-->
<!--  <div class="bg-arrow-container">-->
<!--    <div class="bg-arrow-line"></div>-->
<!--    <div class="content">-->
<!--      <div class="grid">-->
<!--        <div class="lg:col-6 md:col-7 sm:col-6">-->
<!--          <h1 class="lg:text-5xl md:text-xl sm:text-lg">Industrial Decarbonisation <br>Northern Ireland</h1>-->
<!--          <p class="lg:text-2xl md:text-base sm:text-base">Taking an innovative dual-approach to address carbon reduction in Northern Ireland (NI), providing businesses with support,-->
<!--            advice, tools, and metrics to enable NI industry to increase productivity whilst, at the same time, reducing emissions. </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
