<div class="flex flex-column p-3">
    <label>Energy Cost</label>
    <div class="flex flex-row pt-3">
      <p-dropdown [options]="energyTypes" [(ngModel)]="selectedEnergyType" optionLabel="name" [showClear]="true" placeholder="Select Energy Type" appendTo="body" styleClass="mr-5"></p-dropdown>
      <p-inputNumber name="employees" inputId="integeronly" [(ngModel)]="energyTypeCost"></p-inputNumber>
    </div>
  </div>

<div class="flex flex-column p-3">
  <label>Additional Energy Costs</label>
  <div class="flex flex-row pt-3">
    <p-dropdown [options]="energyCost" [(ngModel)]="selectedEnergyCost" optionLabel="name" [showClear]="true" placeholder="Select Additional Energy Costs" appendTo="body" styleClass="mr-5"></p-dropdown>
    <p-inputNumber name="employees" inputId="integeronly" [(ngModel)]="energyCostAdditional"></p-inputNumber>
  </div>
</div>

<div class="flex flex-column p-3">
  <label>Additional Energy Information</label>
  <div class="flex flex-row pt-3">
    <p-dropdown [options]="energyInfo" [(ngModel)]="selectedEnergyInfo" optionLabel="name" [showClear]="true" placeholder="Select Additional Energy Information" appendTo="body" styleClass="mr-5"></p-dropdown>
    <p-inputNumber name="employees" inputId="integeronly" [(ngModel)]="additionalEnergyInfo"></p-inputNumber>
  </div>
</div>

<div class="flex flex-column p-3">
  <label>Onsite Generation</label>
  <div class="flex flex-row pt-3">
    <p-dropdown [options]="generationOptions" [(ngModel)]="selectedGeneration" optionLabel="name" [showClear]="true" placeholder="Select Onsite Generation" appendTo="body" styleClass="mr-5"></p-dropdown>
    <p-inputNumber name="employees" inputId="integeronly" [(ngModel)]="onSiteGeneration"></p-inputNumber>
  </div>
</div>


