@if(newsArticles){
  <h2 class="header-style">{{newsArticles.title}}</h2>
  <div class="container p-4 mt-6">
    <div class="p-4 font-normal text-center text-lg" [innerHTML]="newsArticles.content"></div>
    <div class="grid">
      @for(article of newsArticles.news_items; track $index){
        <div class="lg:col-4 md:col-8 sm:col-12">
          <p-card styleClass="p-card-home-news">
            <ng-template pTemplate="header">
              <span class="header-style">Date: {{article.date}}</span>
              <img src="https://app.idni.eco/assets/{{article.image}}" alt="" class="news-img">
            </ng-template>
              <div class="news-line pt-2"></div>
              <div class="card-body text-center">
                <h3 class="header-style">{{article.title}}</h3>
                <div [innerHTML]="article.content"></div>
              </div>
            <ng-template pTemplate="footer">
              @if(article.alias){
                <div class="card-footer">
                  <p-button label="Read More" routerLink="{{article.alias}}" [rounded]="true" styleClass="btn-style"></p-button>
                </div>
              }@else{
                <div class="card-footer">
                  <p-button label="Read More" [disabled]="true" [rounded]="true" styleClass="btn-style"></p-button>
                </div>
              }
            </ng-template>
          </p-card>
        </div>
      }
    </div>
  </div>
}

