<section>
  <div class="container flex justify-content-center p-3">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="flex justify-content-center mb-3 p-5 border-round-lg" style="background-color: #fcfcfc">
        <img src="assets/img/idni-logo.svg" alt="Image" height="90">
      </div>
      <div class="text-center">
        <div class="p-2">
          <p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" severity="success" size="large"></p-button>
        </div>
         <div class="p-3">
           <div class="text-3xl font-semibold p-2 mb-3">Your Registration Has Been Successful!</div>
           <p class="text-sm">Thank you for signing up on the ID-NI Knowledge Sharing Platform!</p>
           <p class="text-sm">Your personal login details have been sent to you email address.</p>
         </div>
      </div>
      <div class="flex justify-content-center p-3">
       <p-button styleClass="btn-style" label="Sign In" [disabled]="true"></p-button>
      </div>
    </div>
  </div>
</section>
