@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <h2>{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
    </div>
    @for(content of content.items; track $index;){
        <div class="container p-5 bottom-line">
          <div class="tech-container">
            <div class="grid">
              <div class="lg:col-4 sm:col-12 mt-5">
                <img src="https://app.idni.eco/assets/{{content.image}}" alt="{{content.title}}" class="page-img">
              </div>
              <div class="col"></div>
              <div class="lg:col-7 sm:col-12 p-3">
                <h3 class="header-style">{{content.title}}</h3>
                <div [innerHTML]="content.content"></div>
                <div class="pt-5 pb-3">
                  <p-button routerLink="{{content.alias}}" label="Learn More" [rounded]="true" styleClass="btn-style"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
    }
  </section>
}
