@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-2">
      <div class="grid">
        <div class="lg:col-4 sm:col-12 mt-4">
          <img src="https://app.idni.eco/assets/{{content.image}}" alt="" style="height: 140px">
        </div>
        <div class="col"></div>
        <div class="lg:col-7 sm:col-12">
          <h2>{{content.title}}</h2>
          <div [innerHTML]="content.summary" class="p-2 font-italic"></div>
          <div class="mt-5" [innerHTML]="content.content"></div>
        </div>
      </div>
    </div>
  </section>
}
