<app-hero></app-hero>
@if (content){
<!--  <pre>{{content | json}}</pre>-->
  <section>
    <div class="flex justify-content-center text-center container">
      <div class="grid nested-grid">
        <div class="col-12 p-7">
          <app-content-tpl [content]="content.items?.[0].item"></app-content-tpl>
        </div>
        <div class="col-12">
          <div class="container" style="padding: 50px">
            <div class="grid">
              <app-two-col-tpl [content]="content.items?.[1].item"></app-two-col-tpl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue-curve-left">
    <h2 class="header-style">{{content.items?.[2].item.title}}</h2>
    <div class="container carousel-container" style="padding:20px">
      <app-carousel-tpl [content]="content.items?.[2].item"></app-carousel-tpl>
    </div>
  </section>

  <section class="blue-curve-right">
    <app-accordion-tpl [content]="content.items?.[3].item"></app-accordion-tpl>
  </section>

  <section class="blue-curve-left">
    <h2 class="header-style">{{content.items?.[4].item.title}}</h2>
    <div class="container">
      <app-home-technology-tpl [content]="content.items?.[4].item"></app-home-technology-tpl>
    </div>
  </section>

<!--  <section class="blue-curve-right">-->
<!--    <h2>{{content.items?.[5].item.title}}</h2>-->
<!--    <div class="container mt-6" style="padding:70px;">-->
<!--      <app-news-cards-tpl [content]="content.items?.[5].item"></app-news-cards-tpl>-->
<!--    </div>-->
<!--  </section>-->
}



<!--<nav #ani>
  <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>-->




<!--<section class="blue-curve-right">-->
<!--  <h2 class="header-style">News</h2>-->
<!--  <div class="container mt-6" style="padding:70px;">-->
<!--    <app-news-cards-tpl></app-news-cards-tpl>-->
<!--  </div>-->
<!--</section>-->


