<!--<div class="flex">-->
<!--  <form class="flex flex-auto align-items-center align-content-center justify-content-center" [formGroup]="form" *ngIf="form" (ngSubmit)="resetPassword()">-->
<!--    <p-panel header="Reset Password">-->
<!--      <div>-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" pInputText formControlName="password">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="confirm">Confirm Password</label>-->
<!--        <input type="password" (keyup)="checkMatch()" pInputText formControlName="confirm">-->
<!--          <span class="password" *ngIf="form.value.confirm && !valid">*Password Mismatch</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button pButton type="submit">Reset</button>-->
<!--      </div>-->
<!--    </p-panel>-->
<!--  </form>-->
<!--</div>-->


<section class="gradient-bck">
    <div class="container flex justify-content-center" style="padding: 30px">
      <form class="flex flex-auto align-items-center align-content-center justify-content-center" [formGroup]="form" *ngIf="form" (ngSubmit)="resetPassword(form)">
      <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="flex justify-content-center p-4" style="background:#fafafa">
          <img src="assets/img/idni-logo.svg" alt="Image" height="75">
        </div>
        <div class="text-center flex flex-column p-4 mt-4">
          <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
        </div>
        <div class="p-2">
          <label for="password" class="block text-900 font-medium mb-2">Password</label>
          <input type="password" pInputText formControlName="password" class="w-full mb-3" required minLength="8">

            <div *ngIf="form.get('password')?.invalid && form.get('password')?.hasError('minLength') || form.get('password')?.touched && form.get('password')?.invalid">
                <span class="mt-1 text-xs text-red-900">Your password needs to be at least 8 characters in length</span>
            </div>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.hasError('pattern') || form.get('password')?.touched && form.get('password')?.invalid">
                <span class="mt-1 text-xs text-red-900">Your password needs 1 Capital letter, 1 number, and 1 special character (# ! ? $ % &)</span>
            </div>

        </div>
        <div class="p-2">
          <label for="confirm" class="block text-900 font-medium mb-2">Confirm Password</label>
          <input type="password"  pInputText formControlName="confirm" class="w-full mb-3" required minLength="8">
            <div *ngIf="form.get('confirm')?.invalid && form.get('confirm')?.hasError('not_matching') || form.get('confirm')?.touched && form.get('confirm')?.invalid" >
                <span class="mt-1 text-xs text-red-900">Your passwords do not match</span>
            </div>
        </div>
        <div class="p-3">
          <button pButton type="submit" class="w-full btn-style" label="Reset"></button>
        </div>
      </div>
      </form>
    </div>
</section>
