<div class="flex">
  <form class="flex flex-auto align-items-center align-content-center justify-content-center" [formGroup]="form" *ngIf="form" (ngSubmit)="resetPassword()">
    <p-panel header="Reset Password">
      <div>
        <label for="password">Password</label>
        <input type="password" pInputText formControlName="password">
      </div>
      <div>
        <label for="confirm">Confirm Password</label>
        <input type="password" (keyup)="checkMatch()" pInputText formControlName="confirm">
          <span class="password" *ngIf="form.value.confirm && !valid">*Password Mismatch</span>
      </div>
      <div>
        <button pButton type="submit">Reset</button>
      </div>
    </p-panel>
  </form>
</div>
