<div class="top-image-wrapper">
  <div class="top-image">
    <img src="assets/img/abstract-1.png" alt="">
  </div>
  <div class="top-image-line">
    <app-top-page-img-tpl></app-top-page-img-tpl>
  </div>
</div>

<section>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="container p-4 mb-6">
      <h2>Heating Topics</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="grid nested-grid">
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">mode_fan</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">ASHP</h4>
                <p class="line-height-3">Air Source Heat Pumps (ASHPs) absorb heat from the outside air in the same way that a fridge extracts heat from within.
                  Air source heat pumps can extract heat from the air when outside temperatures are as low as minus 15°C</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Boiler/ Warm Air Heater</h4>
                <p class="line-height-3">It is recommended that a modern high efficiency boiler/warm heater with an efficiency rating of about >92% be installed.
                  Assuming the existing boiler/warm heater provides a sufficient level of heating, it has been estimated that replacement boiler/warm heater of the same size would use [00] kWh per year.</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Infra-red Heating</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Convection Heaters</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Storage Heaters</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Stratified Warm Air</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">De-Stratification Fans</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Heating Controls</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">TRVs</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Free Cooling</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Immersion Heater</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-4 sm:col-12 p-3 mb-4">
        <div class="base-card">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <span class="material-symbols-outlined icons-stl">recycling</span>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <div class="p-4">
                <h4 class="text-900 text-xl mb-3 font-medium">Instantaneous Water Heater</h4>
                <p class="line-height-3">The key waste streams are dry mixed recyclables (assumed to be recycled), cardboard (assumed to be recycled), printed paper (assumed to be recycled) and general commercial waste (assumed to be combusted).</p>
              </div>
              <div class="base-card-footer">
                <p-button label="Learn More" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
