@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <h2>{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
    </div>
    <div class="container p-4 mb-8">
      <h2 class="header-style mb-6">Industrial Decarbonisation for Northern Ireland Interactive Map</h2>
      <div class="iframe-container">
        <iframe src="https://storymaps.arcgis.com/stories/01b6e7e3deef41b79fed2bbfdcbf7771" title="Industrial Decarbonisation for Northern Ireland"></iframe>
      </div>
      <div class="bottom-line pt-6"></div>
    </div>
    @for(items of content.project_list; track $index;){
        <div class="container p-4">
          <div class="grid">
            <div class="lg:col-4 sm:col-12">
              <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">
            </div>
            <div class="col"></div>
            <div class="lg:col-7 sm:col-12">
              <h3 class="header-style">{{items.title}}</h3>
              <div [innerHTML]="items.content"></div>
              <div class="p-2 font-italic text-sm" [innerHTML]="items.disclaimer"></div>
              <div class="pt-5 pb-3">
                <p-button label="Learn More" [rounded]="true" routerLink="{{items.alias}}" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
          <div class="bottom-line mt-5"></div>
        </div>
      }
  </section>
}

