@if(content){
  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <h2>{{content.title}}</h2>
      <div [innerHTML]="content.content"></div>
    </div>
    <div class="container p-4 mb-8">
      <h3 class="header-style mb-3">Industrial Decarbonisation Northern Ireland Interactive Map</h3>
      <iframe src="https://storymaps.arcgis.com/stories/01b6e7e3deef41b79fed2bbfdcbf7771" title="Industrial Decarbonisation for Northern Ireland" width="100%" height="700px"></iframe>
    </div>
    @for(items of content.project_list; track $index; let e = $even){
      @if(e){
        <div class="container p-4">
          <div class="grid bottom-line">
            <div class="lg:col-4 sm:col-12">
              <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">
            </div>
            <div class="col"></div>
            <div class="lg:col-7 sm:col-12">
              <h3 class="header-style">{{items.title}}</h3>
              <div [innerHTML]="items.content"></div>
              <div class="pt-5 pb-3">
                <p-button label="Learn More" [rounded]="true" routerLink="{{items.alias}}" styleClass="btn-style"></p-button>
              </div>
            </div>
          </div>
        </div>
      }@else{
        <div class="container p-4">
          <div class="grid bottom-line">
            <div class="lg:col-7 sm:col-12 lg:flex-order-0 md:flex-order-1 sm:flex-order-1">
              <h3 class="header-style">{{items.title}}</h3>
              <div [innerHTML]="items.content"></div>
              <div class="pt-5 pb-3">
                <p-button label="Learn More" routerLink="{{items.alias}}" [rounded]="true" styleClass="btn-style"></p-button>
              </div>
            </div>
            <div class="col"></div>
            <div class="lg:col-4 sm:col-12 lg:flex-order-1 md:flex-order-0 sm:flex-order-0">
              <img src="https://app.idni.eco/assets/{{items.image}}" alt="" class="page-img">
            </div>
          </div>
        </div>
      }
    }
  </section>

}
