<section>
  <div class="container">
    <p-card header="User Profile" styleClass="card-select-panel" [style]="{ width: '75vw' }">
      <div class="grid nested-grid">
        <form class="col-9" [formGroup]="userEditForm">
          <div class="grid mt-3">
            <div class="col-6">
              <!--          FIRST NAME-->
              <div class="field flex flex-column">
                <label for="first_name">First Name</label>
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                  </p-inputGroupAddon>
                  <input id="first_name" type="text" class="w-full p-3" formControlName="first_name" pInputText>
                </p-inputGroup>
              </div>
            </div>
            <div class="col-6">
              <!--          LAST NAME-->
              <div class="field flex flex-column">
                <label for="last_name">Last Name</label>
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <span class="material-symbols-outlined">group</span>
                  </p-inputGroupAddon>
                  <input id="last_name" type="text" class="w-full p-3" formControlName="last_name" pInputText>
                </p-inputGroup>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-6">
              <!--          EMAIL-->
              <div class="field flex flex-column">
                <label for="contact_number">Contact Email</label>
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <span class="material-symbols-outlined">mail</span>
                  </p-inputGroupAddon>
                  <input id="email" type="text" class="w-full p-3" formControlName="email" pInputText>
                </p-inputGroup>
              </div>
            </div>
            <div class="col-6">
              <div class="field flex flex-column">
                <label for="contact_number">Contact Number</label>
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <span class="material-symbols-outlined">call</span>
                  </p-inputGroupAddon>
                  <input id="contact_number" type="text" class="w-full p-3" formControlName="contact_number" pInputText>
                </p-inputGroup>
              </div>
            </div>
          </div>
        </form>
        <div class="col-3">
          <p-avatar
            label="P"
            styleClass="mr-2"
            size="xlarge"
            shape="circle" />
        </div>
      </div>


      <div>
        <p-button label="Save Changes" icon="pi pi-save" styleClass="btn-style"></p-button>
      </div>
    </p-card>
  </div>
</section>
