 <p-megaMenu [model]="menuItems" styleClass="flex">
    <ng-template pTemplate="start">
      <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>
    </ng-template>
    <a href="" target="_blank" class="pr-3"><p-button label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button></a>
    <p-button label="PET" routerLink="pet" icon="pi pi-cog"  styleClass="btn-style" [rounded]="true"></p-button>
  </p-megaMenu>



<!--<div class="flex justify-content-between flex-wrap navbar-wrapper">-->
<!--  <div class="p-3">-->
<!--    <img src="assets/img/idni-logo.svg" class="nav-logo"/>-->
<!--  </div>-->
<!--  <div class="navbar-container">-->
<!--    <p-menubar [model]="menuItems"  target="_blank">-->
<!--      <a href="" target="_blank" class="p-1 ml-2"><p-button label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button></a>-->
<!--      <p-button label="PET" routerLink="pet" icon="pi pi-cog"  styleClass="btn-style pet-btn" [rounded]="true"></p-button>-->
<!--    </p-menubar>-->
<!--  </div>-->
<!--</div>-->
