<p-megaMenu [model]="menuItems" styleClass="flex">
  <ng-template pTemplate="start">
    <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>
  </ng-template>
  <p-button routerLink="login" label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button>
  <p-button label="PET" routerLink="pet" icon="pi pi-cog" styleClass="btn-style" [rounded]="true"></p-button>
</p-megaMenu>

<!--<p-megaMenu [model]="menuItems" styleClass="flex">-->
<!--  <ng-template pTemplate="start">-->
<!--    <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>-->
<!--  </ng-template>-->
<!--  <p-button routerLink="login" label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button>-->
<!--  <p-button label="PET" routerLink="pet" icon="pi pi-cog" styleClass="btn-style" [rounded]="true"></p-button>-->
<!--  <div *ngIf="burgerMenuOpen" class="burger-menu">-->
<!--    <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>-->
<!--    <p-megaMenu [model]="menuItems"></p-megaMenu>-->
<!--    <p-button routerLink="login" label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button>-->
<!--    <p-button label="PET" routerLink="pet" icon="pi pi-cog" styleClass="btn-style" [rounded]="true"></p-button>-->
<!--  </div>-->
<!--</p-megaMenu>-->

<!--<p-megaMenu [model]="menuItems" styleClass="flex">-->
<!--  <ng-template pTemplate="start">-->
<!--    <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>-->
<!--  </ng-template>-->
<!--  <p-button routerLink="login" label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button>-->
<!--  <p-button label="PET" routerLink="pet" icon="pi pi-cog" styleClass="btn-style" [rounded]="true"></p-button>-->
<!--  <button class="burger-menu-btn" (click)="toggleBurgerMenu()">-->
<!--    <i class="pi pi-bars"></i>-->
<!--  </button>-->
<!--  <div *ngIf="burgerMenuOpen" class="burger-menu">-->
<!--      <img src="assets/img/idni-logo.svg" height="80" class="mr-2 ml-2"/>-->
<!--      <p-megaMenu [model]="menuItems"></p-megaMenu>-->
<!--      <p-button routerLink="login" label="Login" icon="pi pi-user" styleClass="btn-outline" [rounded]="true"></p-button>-->
<!--      <p-button label="PET" routerLink="pet" icon="pi pi-cog" styleClass="btn-style" [rounded]="true"></p-button>-->
<!--  </div>-->
<!--</p-megaMenu>-->



