
@import "primeicons/primeicons.css";
  body{
    margin: 0;
  }
  section, footer{
    padding-top: 3rem;
    padding-bottom: 10rem;
  }

  $primeColor: #85bfba;
  $darkColor:#356c6b;
  $headerColor:#253b3c;
  $lightColor-100: #daedea;
  $lightColor-50:#f4f9f8;
  $darkColor-900:#112122;

  h2{
    color: $primeColor;
    font-size: 2rem;
  }

  .header-style{
    color:#253b3c;
  }

  hr.hr-style {
    border-top: 1px solid $primeColor;
  }

.charts-bar {
  padding: 0.5rem 0;
  background: white;
  color: #4b5563;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  //width: 20rem;
  a{
    font-size:18px;
  }
  span.material-symbols-outlined.material-icon{
    color:$primeColor;
  }
}


  //----------------------------------------------------BUTTON----------------------------------------------------------

.btn-select{
  .p-selectbutton .p-button.p-highlight{
    background-color: $primeColor;
    border:none;
  }
}

 .btn-style{
   background-color: $primeColor;
   border:$primeColor;
   color:#283938;
   &:hover{
     background-color:$darkColor;
     color:white;
   }
 }

 .btn-outline{
   background-color: #f4f9f8;
   border:1px solid #2e5757;
   color:#2e5757;
   margin-right: 5px;
   &:hover{
     background-color:$darkColor;
     border:2px solid $lightColor-50;
     color:#f4f9f8;
   }
 }

 .close-btn{
     background-color: transparent;
     color: $darkColor;
     border-color: transparent;
   &:hover{
     background-color: transparent;
     color: $primeColor;
     border-color: transparent;
   }
 }

 .btn-dark{
   background-color: $darkColor;
   border:$darkColor;
   color:white;
   &:hover{
     background-color: $primeColor;
     border:$darkColor;
     color:$darkColor;
   }
 }

.btn-dropdown{
  .p-autocomplete-dd .p-autocomplete-dropdown {
    background-color: $primeColor;
    border: none;
  }
}

.drop-column {
  .p-button {
    color: #ffffff;
    background: $primeColor;
    border: 1px solid $primeColor;
  }
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: $primeColor;
  color: $darkColor;
}

.p-datatable .p-sortable-column.p-highlight {
  background: #EFF6FF;
  color: $darkColor;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: $primeColor;
  color: $darkColor;
}

  //CONTAINER
  .container { margin-left: auto; margin-right: auto; }
  @media only screen and (max-width: 767px) { .container { max-width: 100%; } }
  @media only screen and (min-width: 768px) { .container { max-width: 740px; } }
  @media only screen and (min-width: 992px) { .container { max-width: 980px; } }
  @media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }
  @media only screen and (min-width: 1400px) { .container { max-width: 1320px; } }


  //-----------------------------------------------LOGIN----------------------------------------------------------------

  .surface-card{
    background-color: #fefefe !important;
    a{
      color:$primeColor;
      font-weight:700;
    }
  }
  .gradient-bck{
    background-image: linear-gradient(to right, rgba(244,249,248,0), rgba(218,237,234,1));
  }

  //---------------------------------------------------FORM-------------------------------------------------------------

  .card-charts{
    background-color:#FDFDFD;
  }

  .card-select-panel{
    background-color:#fbfbfb;
  }

  .card-style-none{
      background: transparent;
      color: #4b5563;
      box-shadow: none;
      border-radius: 0px;
  }

  .p-panel .p-panel-header {
    border: 1px solid #e5e7eb;
    padding: 1.25rem;
    background: $primeColor;
    color: $headerColor;
   font-weight: 700;
    font-size: 1.125rem;
  }
  .p-inputgroup-addon
  {
    color: $darkColor;
    background-color: $lightColor-100;
  }

  .date-btn{
    .p-datepicker table td.p-datepicker-today > span {
      background: $primeColor;
      color: white;
      border-color: $primeColor;
    }
    .p-button {
      background: $lightColor-100;
      color: $darkColor;
      border: 1px solid $darkColor;
    }
    .p-button:not(:disabled):hover {
      background: $lightColor-100;
      color: $darkColor;
      border-color: $darkColor;
    }
  }

    .p-checkbox .p-checkbox-box .p-icon {
      background-color: $primeColor;
      border: 1px solid $primeColor;
    }
    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: $primeColor;
      background: $primeColor;
    }

  .p-panel .p-panel-content {
    background: $lightColor-50;
    padding:30px;
  }


//--------------------------------------------------------CHAT SYSTEM---------------------------------------------------

  .chat-container{
    background-color: $lightColor-50;
    border:2px solid $darkColor;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    .chatbox-nav {
      padding: 2rem;
      margin-bottom:30px;
      background-image: url("assets/img/chat-box-line.svg");
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 80rem;
      h3{
        z-index: 1;
        position: relative;
        text-align: right;
      }
    }
    .chat{
      display: flex;
      flex-direction: column;
      max-height: 60vh;
      //width: 100vw;
      //max-width: calc(100% - 1vw);
      font-size: 1.6rem;
      gap: 1.5rem;
      overflow: hidden;
      padding:20px;
      scroll-behavior: smooth;
      &:hover{
        overflow: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
      }
    }
    .chat::-webkit-scrollbar {
      width: 0 !important;
    }

    .chat {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid $darkColor;
    background-color:#F6FAF9;
    border-radius: 30px;
    margin:20px;
    .message-input {
      width: 100%;
      .inputText {
        border-radius: 30px;
        border:1px solid $lightColor-50;
        padding:30px;
        width: 100%;
        font-size: 1.25rem;
        color:grey;
        outline: none;
        background-color: #F6FAF9;
      }
    }
  }

  .chat-btn{
    background-color: $primeColor;
    border:$primeColor;
    color:#283938;
    .pi {
      font-size: 1.25rem;
    }
    &:hover{
      background-color:$darkColor;
      color:white;
    }
  }

  .assistant-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding:10px;
    .assistant-text-container>p{
      background-color: #b5dad6;
      color:black;
      font-size:1rem;
      padding: 1.3rem;
      width: fit-content;
      max-width: 450px;
      border-radius: 15px;
      border-bottom-left-radius: 0;
    }
    .assist-logo{
      background-color:#458785;
      color:white
    }
  }
  .user-container{
    display:flex;
    justify-content: end;
    padding:10px;
    .user-text-container>p{
      background-color: #daedea;
      color:black;
      font-size:1rem;
      padding: 1.3rem;
      width: fit-content;
      max-width: 450px;
      border-radius: 15px;
      border-bottom-right-radius: 0;
    }
    .user-logo{
      background-color:#85bfba;
      color:white;
    }
  }

  .userMsg{
    background-color: #daedea;
    border-radius: 30px;
    color:black;
    font-size:1rem;
    padding: 1.3rem;
    width: fit-content;
    display:flex;
    justify-content:end;

  }

  .assistantMsg{
    background-color: #b5dad6;
    border-radius: 30px;
    color:black;
    font-size:1rem;
    padding: 1.3rem;
    width: fit-content;
  }

  .span-style{
    font-size: .75rem;
    padding:0.5rem;
    color: var(--gray-500) !important;
  }

  .time-style{
    font-size: .75rem;
    padding-left:0.5rem;
    color: var(--gray-500) !important;
  }

  .confirm-dialog-icon{
    margin-top:-5rem;
    width:6rem;
    height:6rem;
    background-color:$primeColor;
    color:$darkColor-900;
    display:inline-flex;
    justify-content:center;
    align-items:center;
  }
  //----------------------------------------------------MENU------------------------------------------------------------

.sidenav {
  height: 100vh;
  width: 13vw;
  background-color: $lightColor-50;
  overflow-x: hidden;
  padding:20px;
  display: flex;
  flex-direction: column;
  a {
    font-size:18px;
    padding:20px;
    text-decoration: none;
    font-weight: 500;
  }
  a:hover {
    background-color:$lightColor-100;
    text-decoration: none;
    border-radius:10px;
  }
  a:focus{
    background-color:$lightColor-100;
    text-decoration: none;
    border-radius:10px;
  }
  a:active{
    background-color:$lightColor-100;
    text-decoration: none;
    border-radius:10px;
  }
  span.material-symbols-outlined {
    color: $primeColor;
    font-weight:700;
    padding-right:10px;
  }

}

.p-menubar {
  .p-submenu-list {
    padding: 0.5rem;
    background: none;
    color: #4b5563;
    margin-left:20px;
    width:250px;
    background: $lightColor-50;
    box-shadow: none;
    text-decoration: none;
  }
  .p-menuitem-text {
    color: #313131;
  }
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #1f322f;
}

.p-menubar a{
  text-decoration: none;
}
.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: $darkColor;
}


  .p-megamenu{
    border: none;
    //background-color: #FBFBFB;
    background-color: 	#f8f8f8;
    .p-megamenu-start{
      flex-grow: 1;
    }
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover
  {
    color: #4b5563;
    background:$primeColor;
  }

  .navbar-container{
    padding: 2rem;
    display:flex;
    flex-direction:row;
  }

  .pet-btn{
    margin:3px;
  }

  .nav-logo{
    height:80px;
    margin-left:0.5rem;
    margin-right:0.5rem;
  }

  .p-menubar {
    padding: 0.5rem;
    background: none;
    color: #4b5563;
    border: none;
    border-radius: 0px;
  }


//----------------------------------------------------------HERO--------------------------------------------------------
  .hero{
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    color:white;
    .bg-arrow{
      color: white;
      height: 90vh;
      width:50vw;
      background-image: url("assets/img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      .content{
        padding-left: 3rem;
        color: white;
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        //padding:40px;
        h1{
          //font-size: 6rem;
        }
        p{
          //font-size: 1.5rem;
          padding-top:2rem;
          line-height: 1.3;
          width: 60%;
        }
      }
    }
  }


//sections
.faq-bg{
  background-size: cover;
}
.blue-curve-left{
  background-color: #f2f2f2;
  background-image: url("assets/img/curve-bottom.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40rem;
  h2{
    padding-left: 3.5rem;
  }
}
.blue-curve-right{
  background-image: url("assets/img/curve-bottom-right.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 40rem;
  h2{
    text-align: end;
    color: black;
    padding-right: 3.5rem;
  }
}


//---------------------------------------------PARTNERS SECTION---------------------------------------------------------
.carousel-container{
  margin-top:5rem;
}
  .img-container{
    //display:block;
    //width: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.partner-img{
  //max-width:150px;
  max-height:80px;
}


.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button
{
  background-color: $primeColor;
  width:1rem;
  height:1rem;
  border-radius: 50%;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button
{
  background-color: #9ca3af;
  width:1rem;
  height:1rem;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-carousel .p-carousel-content .p-carousel-next:hover
{
  color: white;
  background-color: $primeColor;
}

.p-carousel .p-carousel-content .p-carousel-prev:hover
{
  color: white;
  background-color: $primeColor;
}


//--------------------------------------------------FAQS----------------------------------------------------------------
  .page-img{
    max-width:100%;
  }

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: $primeColor;
  border-color: #2e5757;
  color: $headerColor;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.25rem;
  border: 1px solid #e5e7eb;
  color: $headerColor;
  background: #F3F9F8;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

//----------------------------------------------TECHNOLOGY--------------------------------------------------------------
.techno-img{
  max-height:300px;
}

//-------------------------------------------------NEWS-----------------------------------------------------------------
.news-card{
  position: relative;
  margin:20px;
  text-align: center;
  //width:350px;
  background-color: #f2f2f2;
  .card-footer{
    //position:absolute;
    //bottom:0;
    //height:3%;
    padding:35px;
  }
  .card-body{
   padding:45px;
  }
  .card-head{
    display: block;
    position: relative;
    &:after{
      content: " ";
      background-image: url("assets/img/curve-top.svg");
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top:0;
      bottom:3px;
      left:5px;
      right:0;
    }
    .news-img{
      max-width:100%;
      margin: auto;
    }
     h4{
       position:absolute;
       top:70%;
       left:62%;
       z-index:1;
       font-size: 1.25rem;
     }
  }
}


//------------------------------------------------TABLE-----------------------------------------------------------------
.section-curve-left{
  background-color: #f2f2f2;
  background-image: url("assets/img/curve-bottom.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40rem;
  h2{
    padding-left:35px;
  }
}

.p-datatable{
  margin:20px;
}

  .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    font-weight: 700;
    color: #374151;
    background: #f4f9f8;
    transition: box-shadow 0.2s;
  }

  .p-datatable .p-datatable-tbody > tr {
    background: #f4f9f8;
    font-weight:500;
  }

  .p-datatable .p-datatable-tfoot > tr > td {
    text-align: left;
    color: #374151;
    background: #f4f9f8;
  }

//------------------------------------------------FOOTER----------------------------------------------------------------
footer{
  ul{
    list-style: none;
  }
  padding-bottom: 1rem;
  hr{
    color: white !important;
    background-color: white;
  }
  .p-light{
    color: #aaa
  }
  .icon-style{
    font-size: 2em;
    padding: 10px 10px;
    color:#356c6b;
    &:hover{
      color:#b5dad6;
      transform:scale(1.5);
    }
  }
}
.footer-links{
  color: $headerColor;
  padding-bottom:10px;
  text-decoration: none;
  &:hover{
    color:$darkColor;
    font-weight: 700;
  }
}

//----------------------------------------------------TOP IMAGE---------------------------------------------------------

  .top-image-wrapper{
    position: relative;
    display:inline-block;
  }

   .top-image img{
     //height: 30vh;
     background-repeat: no-repeat;
     background-size: cover;
     max-width:100%;
     position: relative;
   }

  .top-image-wrapper svg {
    position: absolute;
    bottom:0;
    top:15%;
  }

//----------------------------------------------------MEDIA QUERY-------------------------------------------------------

  //---------------CAROUSEL------------------
  @media only screen and (max-width: 576px) {
    .partner-img{
      max-height:60px;
    }
    .carousel-container{
      margin-top:10rem;
    }
  }

  @media only screen and (max-width: 860px) {
    .carousel-container{
      margin-top:10.3rem;
    }
  }

  @media only screen and (max-width: 1090px) {
    .carousel-container{
      margin-top:10.4rem;
    }
  }
  ///---------------------------NAVBAR-----------------------------
  @media only screen and (min-width: 300px) and (max-width: 930px){
    .navbar-wrapper{
      display:flex;
      flex-direction:column;
    }
    .navbar-container{
      display:flex;
    }
    .p-megamenu-horizontal .p-megamenu-root-list {
      display: flex;
      align-items: start;
      flex-direction: column;
    }

  }
//--------------------------HERO----------------------------
@media screen and (max-width: 700px) and (min-width: 200px){
  .hero{
    .bg-arrow{
      width:100vw;
    }
  }
}




