
@import "primeicons/primeicons.css";
  body{
    margin: 0;
  }
  section, footer{
    padding-top: 3rem;
    padding-bottom: 10rem;
  }

  $primeColor: #85bfba;
  $darkColor:#356c6b;
  $headerColor:#253b3c;

  h2{
    color: $primeColor;
    font-size: 2rem;
  }

  .header-style{
    color:#253b3c;
  }

 .btn-style{
   background-color: $primeColor;
   border:$primeColor;
   color:#283938;
   &:hover{
     background-color:$darkColor;
     color:white;
   }
 }


  //CONTAINER
  .container { margin-left: auto; margin-right: auto; }
  @media only screen and (max-width: 767px) { .container { max-width: 100%; } }
  @media only screen and (min-width: 768px) { .container { max-width: 740px; } }
  @media only screen and (min-width: 992px) { .container { max-width: 980px; } }
  @media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }
  @media only screen and (min-width: 1400px) { .container { max-width: 1320px; } }

  //MENU
  .p-megamenu{
    border: none;
    background-color: white;
    .p-megamenu-start{
      flex-grow: 1;
    }
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover
  {
    color: #4b5563;
    font-weight:500;
    background:$primeColor;
  }


//----------------------------------------------------------HERO--------------------------------------------------------
  .hero{
    background-size: cover;
    .bg-arrow{
      color: white;
      height: 90vh;
      background-image: url("assets/img/arrow.svg");
      background-repeat: no-repeat;
      .content{
        padding-left: 3rem;
        //width: 70%;
        h1{
          //font-size: 6rem;
        }
        p{
          //font-size: 1.5rem;
          padding-top:2rem;
          line-height: 1.3;
          width: 60%;
        }
      }
    }
  }

//sections
.faq-bg{
  background-size: cover;
}
.blue-curve-left{
  background-color: #f2f2f2;
  background-image: url("assets/img/curve-bottom.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40rem;
  h2{
    padding-left: 3.5rem;
  }
}
.blue-curve-right{
  background-image: url("assets/img/curve-bottom-right.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 40rem;
  h2{
    text-align: end;
    color: black;
    padding-right: 3.5rem;
  }
}


//---------------------------------------------PARTNERS SECTION---------------------------------------------------------

  .img-container{
    display:block;
    .partner-img{
      max-height: 90px;
      margin: auto;
    }
  }


.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button
{
  background-color: $primeColor;
  width:1rem;
  height:1rem;
  border-radius: 50%;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button
{
  background-color: #9ca3af;
  width:1rem;
  height:1rem;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-carousel .p-carousel-content .p-carousel-next:hover
{
  color: white;
  background-color: $primeColor;
}

.p-carousel .p-carousel-content .p-carousel-prev:hover
{
  color: white;
  background-color: $primeColor;
}


//--------------------------------------------------FAQS----------------------------------------------------------------
  .page-img{
    max-width:110%;
  }

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: $primeColor;
  border-color: #2e5757;
  color: $headerColor;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.25rem;
  border: 1px solid #e5e7eb;
  color: $headerColor;
  background: #F3F9F8;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}


//-------------------------------------------------NEWS-----------------------------------------------------------------
.news-card{
  position: relative;
  //padding:20px;
  text-align: center;
  //width:350px;
  background-color: #f2f2f2;

  .toolkit-icon{
    color:pink;
    font-size:15rem;
  }
  .card-footer{
    //position:absolute;
    //bottom:0;
    //height:3%;
    padding:35px;
  }
  .card-body{
   padding:30px;
  }
  .card-head{
    display: block;
    position: relative;
    &:after{
      content: " ";
      background-image: url("assets/img/curve-top.svg");
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top:0;
      bottom:4px;
      left:1px;
      right:0;
    }
    .news-img{
      max-width:100%;
      margin: auto;
    }
     h4{
       position:absolute;
       top:70%;
       left:62%;
       z-index:1;
       font-size: 1.25rem;
     }
  }
}



//------------------------------------------------FOOTER----------------------------------------------------------------
footer{
  ul{
    list-style: none;
  }
  padding-bottom: 1rem;
  hr{
    color: white !important;
    background-color: white;
  }
  .p-light{
    color: #aaa
  }
  .icon-style{
    font-size: 2em;
    padding: 10px 10px;
    color:#356c6b;
    &:hover{
      color:#b5dad6;
      transform:scale(1.5);
    }
  }
}
.footer-links{
  color: $headerColor;
  padding-bottom:10px;
  text-decoration: none;
  &:hover{
    color:$darkColor;
    font-weight: 700;
  }
}
