  <div class="top-image-wrapper">
    <div class="top-image">
        <img srcset="
            https://id-ni.eco/assets/images/stock-images/camirus-topimage.jpeg  1024w,
            https://id-ni.eco/assets/images/stock-images/camirus-topimage.jpeg 640w"
             sizes="(min-width: 36em) 33.3vw, 100vw"
             src="https://id-ni.eco/assets/images/stock-images/camirus-topimage.jpeg"
             alt=""
        />
    </div>
    <div class="top-image-line"></div>
  </div>

  <div class="dashboard-menu mt-5">
    <div class="flex justify-content-start p-2">
        <p-button (click)="sideMenu = true" icon="pi pi-home" styleClass="btn-outline ml-3" label="Menu"></p-button>
    </div>
  </div>
<div class="flex justify-content-start p-2" style="background-color: #fdfdfd">
  <div class="relative">
    <div class="sidenav-col h-full lg:w-8" [class]="showMenu ? 'showMenu' : ''">
      <div class="sidenav">
       <div class="flex justify-content-end mb-3">
           @if (showMenu){
           <span class="material-symbols-outlined flex" (click)="showMenu = !showMenu">arrow_circle_right</span>
           }@else{
           <span class="material-symbols-outlined" (click)="showMenu = !showMenu">arrow_circle_left</span>
           }
       </div>
        <div class="flex justify-content-start mt-4">
            @if(!showMenu){
              <img src="https://id-ni.eco/assets/images/logos/idni-logo.svg" alt="idni-logo" style="height:80px">
            } @else{
              <img src="https://id-ni.eco/assets/images/logos/idni-favicon-svg.svg" alt="idni-logo"  style="height:70px">
            }
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column envirotrack-menu">
          <p-panelMenu [model]="showMenu ? miniMenu : menuBar"></p-panelMenu>
          <div>
            <p-divider></p-divider>
            @if(!showMenu){
              <p-panelMenu [model]="profileMenu"></p-panelMenu>
            }@else{
              <p-panelMenu [model]="profileMiniMenu"></p-panelMenu>
            }
            <div class="flex flex-column mt-5">
              <div class="pt-4">
                @if(!showMenu){
                  <a href="https://idni.eco/" style="text-decoration: none" class="a-tag-no-style"><button pButton pRipple label="Knowledge Platform" icon="pi pi-globe" class="btn-dark"></button></a>
                }@else{
                  <a href="https://idni.eco/" style="text-decoration: none" class="a-tag-no-style"><button pButton pRipple icon="pi pi-globe" class="btn-dark"></button></a>
                }
              </div>
              <div class="pt-4">
                @if(!showMenu){
                  <button pButton pRipple label="Log Out" icon="pi pi-sign-out" class="btn-style" (click)="handleLogOut()"></button>
                }@else{
                  <button pButton pRipple icon="pi pi-sign-out" class="btn-style" (click)="handleLogOut()"></button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="dashboard-items">
      <section class="pr-5">
<!--    <app-stat-containers-tpl></app-stat-containers-tpl>-->
           <p-messages *ngIf="showWarningBanner" [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
           <router-outlet></router-outlet>
      </section>
    </div>
 </div>

  <p-sidebar [(visible)]="sideMenu" styleClass="w-6">
     <div class="sidenav-sidebar">
       <div class="flex justify-content-start p-2 mt-4">
         <img src="https://id-ni.eco/assets/images/logos/idni-logo.svg" alt="idni-logo" style="height:75px">
       </div>
       <p-divider></p-divider>
       <div class="flex flex-column envirotrack-menu">
         <ul class="list-menu">
           <li ng-click="behaviour(sideMenu = false)" class="font-size:30px"><a href="/dashboard"><span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
           <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/pet"><span class="material-symbols-outlined">timeline</span>PET</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/heatmap"><span class="material-symbols-outlined material-icon">assessment</span>Electricity Consumption, kWh <br> per half-hour</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/scatter"><span class="material-symbols-outlined material-icon">scatter_plot</span>Electricity Consumption, kWh<br> split by day of the week</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/bar"><span class="material-symbols-outlined material-icon">bar_chart</span>Electricity Consumption,kWh</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/pie"><span class="material-symbols-outlined material-icon">pie_chart</span>Electricity Consumption,<br> % split by day of the week</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/base1"><span class="material-symbols-outlined material-icon">show_chart</span>Christmas Day vs Lowest Day <br>of the year consumption</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/avg"><span class="material-symbols-outlined material-icon">stacked_line_chart</span>Average Daily Consumption,<br>kWh per half hour</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/demand"><span class="material-symbols-outlined material-icon">data_exploration</span>Maximum Demand</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/co2emissions"><span class="material-symbols-outlined material-icon">pie_chart</span>Breakdown of CO2e (tonnes)<br> by emissions source</a></li>
             <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/co2emissionsbyscope"><span class="material-symbols-outlined material-icon">data_usage</span>Breakdown of CO2e <br>(tonnes) by scope</a></li>
           <div [class]="dropMenu ? 'dropMenu' : '' ">
             <div class="flex flex-row">
               <li><span class="material-symbols-outlined">query_stats</span>Data</li>
               <span class="material-symbols-outlined pt-2" (click)="dropMenu = !dropMenu">arrow_drop_down</span>
             </div>
             @if(dropMenu){
               <ul>
                 <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/fuel-data"><span class="material-symbols-outlined">flowsheet</span>Non Half-Hourly Data</a></li>
                 <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/import"><span class="material-symbols-outlined">add_chart</span>Half-Hourly Data Upload</a></li>
                 <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/recommendations"><span class="material-symbols-outlined">data_thresholding</span>Recommendations</a></li>
               </ul>
             }
           </div>
           <div [class]="helpMenu ? 'helpMenu' : '' ">
             <div class="flex flex-row">
               <li><span class="material-symbols-outlined">help</span>Help</li>
               <span class="material-symbols-outlined pt-2" (click)="helpMenu = !helpMenu">arrow_drop_down</span>
             </div>
             @if(helpMenu){
              <ul class="pl-4">
                <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/bug-report"><span class="material-symbols-outlined">problem</span>Bug Report</a></li>
                <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/faqs"><span class="material-symbols-outlined">live_help</span>FAQ's</a></li>
              </ul>
             }
           </div>
           <div [class]="accountMenu ? 'accountMenu' : '' ">
             <div class="flex flex-row">
               <li><span class="material-symbols-outlined">manage_accounts</span> Account</li>
               <span class="material-symbols-outlined pt-2" (click)="accountMenu = !accountMenu">arrow_drop_down</span>
             </div>
             @if(accountMenu){
               <ul class="pl-4">
                 <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/user-profile"><span class="material-symbols-outlined">person</span> User Profile</a></li>
                 <li ng-click="behaviour(sideMenu = false)"><a href="/dashboard/company-profile"><span class="material-symbols-outlined">source_environment</span> Company Profile</a></li>
               </ul>
             }
           </div>
         </ul>

       </div>
       <div class="mt-5">
         <p-divider></p-divider>
         <a href="https://idni.eco/" style="text-decoration: none" class="a-tag-no-style"><button pButton pRipple label="Knowledge Platform" icon="pi pi-globe" class="btn-dark"></button></a>
       </div>
       <div class="mt-5">
          <button pButton pRipple label="Log Out" icon="pi pi-sign-out" class="btn-style" (click)="handleLogOut()"></button>
       </div>
     </div>
  </p-sidebar>







