@if(content){
  <section>
    <div class="top-image-wrapper">
      <div class="top-image">
        <img src="https://app.idni.eco/assets/{{content.top_image}}" alt="">
      </div>
      <div class="top-image-line">
        <app-top-page-img-tpl></app-top-page-img-tpl>
      </div>
    </div>
    <div class="grid">
      <div class="col-5">
        <img src="https://app.idni.eco/assets/{{content.image}}" alt="">
      </div>
      <div class="col"></div>
      <div class="col-6">
        <h2>{{content.title}}</h2>
        <div [innerHTML]="content.content"></div>
      </div>
    </div>
  </section>
}
