  <div class="top-image-wrapper">
    <div class="top-image">
      <img src="assets/img/abstract-1.png" alt="">
    </div>
    <div class="top-image-line">
      <app-top-page-img-tpl></app-top-page-img-tpl>
    </div>
  </div>

<section>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="container p-4 mb-6">
      <h2>Knowledge Base Topics</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="grid nested-grid">
      <div class="lg:col-4 sm:col-12 p-3">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <h4 class="text-900 text-xl mb-3 font-medium">Electricity</h4>
              <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p-button label="Learn More" styleClass="btn-dark"></p-button>
            </div>
          </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Gas</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Waste and Transport</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <h4 class="text-900 text-xl mb-3 font-medium">Lighting</h4>
              <p class="line-height-3">Many potential lighting solutions are available, and lighting design is outside the scope of this investigation. This exercise is to estimate the order of magnitude of savings potential.</p>
            </div>
          </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Heating</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Insulation</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Compressors</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Solar PV</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Process On Site</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-4 sm:col-12 p-3">
        <div class="grid">
          <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Vehicles</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>















































    </div>
  </div>
</section>
