<div class="top-image-wrapper">
  <div class="top-image">
    <img src="assets/img/abstract-1.png" alt="">
  </div>
  <div class="top-image-line">
    <app-top-page-img-tpl></app-top-page-img-tpl>
  </div>
  <div class="flex justify-content-center p-4 search-bar-container">
    <div class="grid">
      <div class="col-12">
        <h2 class="text-center text-primary-50">Knowledge Base Topics</h2>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" style="width:250%"/>
         </span>
      </div>
    </div>
  </div>

</div>

<section>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="p-4 mb-5">
      <h2 class="header-style">Recommendations Summary Table</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="grid nested-grid">
      <div class="lg:col-3 sm:col-12 p-2">
          <div class="grid">
            <div class="col-12">
              <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-desktop text-4xl text-blue-500"></i>
              </span>
            </div>
            <div class="col-10 col-offset-1">
              <h4 class="text-900 text-xl mb-3 font-medium">Lighting</h4>
              <p class="line-height-3">Many potential lighting solutions are available, and lighting design is outside the scope of this investigation. This exercise is to estimate the order of magnitude of savings potential.</p>
            </div>
          </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
          <div class="grid">
            <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            </div>
            <div class="col-10 col-offset-1">
              <h4 class="text-900 text-xl mb-3 font-medium">Air Source Heat Pump (ASHP)</h4>
              <p class="line-height-3">Air Source Heat Pumps absorb heat from the outside air in the same way that a fridge extracts heat from within. Air source heat pumps can extract heat from the air when outside temperatures are as low as minus 15°C.</p>
            </div>
          </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Boiler/Warm Air Heater</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Infra-red Heating</h4>
            <p class="line-height-3"> This wavelength of the electromagnetic spectrum provides a large but gentle spread of heat known as ‘comfort heat’ and works like the Sun’s non-visible part of the spectrum.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Convection Heaters</h4>
            <p class="line-height-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Storage Heaters</h4>
            <p class="line-height-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Stratified Warm Air</h4>
            <p class="line-height-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">De-Stratification Fans</h4>
            <p class="line-height-3">Warm air rises in buildings with high ceilings, and heat is lost through the roof. De-stratification fans blow warm air back to ground level where it is needed and can save up to 20% on typical energy bills.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Ceiling Insulation</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Roof Insulation</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Single Glazing</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Double Glazing</h4>
            <p class="line-height-3">Replacing the windows with modern double glazing, which has a low U-Value of 1.2 W/m2K, resulting in a low heatloss and reduced load factor for the heating system.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Secondary Glazing</h4>
            <p class="line-height-3">The secondary glazing is a permanent installation of either glass or acrylic behind the window. This creates a rudimentary style of double-glazing that can help reduce draughts and increase heat retention.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Wall Insulation</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Roller Shutter Door</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">PVC Curtains</h4>
            <p class="line-height-3">PVC strip curtain is installed in any doorways that are used frequently. PVC strip curtains provide an easily movable barrier to the outside that will stop mixing the two airstreams at different temperatures.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Pipe Lagging</h4>
            <p class="line-height-3">The pipes can be insulated with lagging, which can be easily self-installed. This will reduce the heatloss in the storage areas and therefore reduce energy consumption from the boiler.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Heating Controls</h4>
            <p class="line-height-3">The smart thermostat can be installed to ensure that the heating system only operated when necessary, therefore reducing the system's energy consumption.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">TRVs</h4>
            <p class="line-height-3">TRVs can be installed on each of the radiators to enable an increased resolution of control and, therefore, reduce the load factor on the boiler.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Free Cooling</h4>
            <p class="line-height-3">Typically, you can expect a free cooling system to remain in operation while external temperatures are below 12°C. This is an energy efficient way to maintain cellar temperatures.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Immersion Heater</h4>
            <p class="line-height-3">These systems provide hot water on demand rather than unnecessarily storing and heating hot water when not required.
              Instantaneous water heaters, also known as tankless water heaters or on-demand water heaters, work by heating water as it flows through the unit.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Solar PV</h4>
            <p class="line-height-3">A full solar PV survey will be required to determine the cost-benefit of any solar PV system that could be installed on the roof.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Compressor</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Compressed Air Leaks</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Compressor Heat Recovery</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Micro Metering</h4>
            <p class="line-height-3">Micro-metering would enable targeting any non-productive loads highlighted in the data, reducing consumption.
              In addition, it would display which pieces of equipment are the most efficient; therefore, they can be prioritised in the production process.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Forklift Truck</h4>
            <p class="line-height-3">Electric models use less energy than equivalent combustion engine machines due to reduced losses from waste heat and eliminating engine idle losses.
              Using electric forklifts will help the company move towards net zero as the electricity grid becomes decarbonised.
            </p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Vehicles</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">UV Print Curing</h4>
            <p class="line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-3 sm:col-12 p-2">
        <div class="grid">
          <div class="col-12">
            <span class="p-3 shadow-2 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
          </div>
          <div class="col-10 col-offset-1">
            <h4 class="text-900 text-xl mb-3 font-medium">Extraction</h4>
            <p class="line-height-3">It is recommended that variable speed drive inverter technology be installed to enable the motor to alter its frequency to match the production's varying extraction demand.
              It is recommended that a full survey is carried out by a supplier with detailed cost and energy savings provided.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
