<section>
  <div class="flex justify-content-center text-center">
    <div class="grid nested-grid w-10">
      <div class="col-6 col-offset-3">
        <h2 class="pb-3">Industrial Decarbonisation Northen Ireland Project</h2>
        <p>Industrial Decarbonisation Northern Ireland (ID-NI) is an ambitious project led by InvestNI to bring together key stakeholders from across Northern Ireland to develop a plan for industrial decarbonisation.</p>
        <p>Northern Ireland has unique opportunities and challenges when tackling industrial decarbonisation, including the opportunity to become a world-leading industrial cluster for decarbonised manufacturing</p>
        <p>Three partners from the Black Country Industrial Cluster (Camirus, Pro Enviro and The EIU) are working with InvestNI, Queens University Belfast, Ulster University, manufacturing NI and MPANI and all the local authorities to develop a vision for industrial decarbonisation that also enhances productivity and competitiveness for investors.</p>
      </div>
      <div class="col-12 mt-5">
        <div class="grid">
          <div class="col-2 col-offset-3">
            <div class="icon-block">
              <img src="assets/img/hands-earth.svg" alt="hands-holding-earth">
              <h3 class="text-gray-700 text-2xl text-center">Our Vision</h3>
              <p>The project likely aims to demonstrate clear results in terms of carbon reduction and increased productivity, contributing to the broader goals of sustainability and economic development.</p>
            </div>
          </div>
          <div class="col-2 col-offset-2">
            <div class="icon-block">
              <img src="assets/img/hand-pant.svg" alt="hands-holding-plant">
              <h3 class="text-gray-700 text-2xl text-center">Our Mission</h3>
              <p>The primary focus on reducing emissions indicates a commitment to addressing climate change and environmental impact. This value aligns with sustainability goals and signifies a dedication to reduce the carbon footprint of industries in Northern Ireland.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-curve-left">
  <h2 class="">Partners</h2>
  <div class="flex justify-content-center">
    <div class="grid w-10">
      <div class="col-8 col-offset-2">
        <div class="grid text-center">
          <div class="col-2 col-offset-2">
            <img src="https://placehold.co/200x150?text=LOGO" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt</p>
          </div>
          <div class="col-2 col-offset-1">
            <img src="https://placehold.co/200x150?text=LOGO" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt</p>
          </div>
          <div class="col-2 col-offset-1">
            <img src="https://placehold.co/200x150?text=LOGO" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<nav #ani>
  <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>-->
<section class="blue-curve-right">
  <h2>FAQ's</h2>

  <div class="flex justify-content-center">
    <div class="container">
      <p class="p-8 text-center text-lg">Here at Industrial Decarbonisation for Northern Ireland (ID-NI), it is our mission to assist you in finding answers to the most Frequently Asked Questions.
        These are provided by our team of experts and we are happy to help.  If you do not find the answer you are looking for on this page please use the contact page to get information directly.</p>
      <div class="grid">
        <div class="col-7">
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="What is the goal of Industrial Decarbonisation for Northern Ireland (ID-NI)?">
              <p>
                The goal of the project is to address carbon reduction in Northern Ireland by taking an innovative dual-approach.
                It aims to provide businesses with support, advice, tools, and metrics to increase productivity while simultaneously reducing emissions.
              </p>
            </p-accordionTab>
            <p-accordionTab header="What support will businesses receive from the project?">
              <p>
                Businesses will receive support, advice, tools, and metrics from the project to help them increase productivity and reduce emissions.
              </p>
            </p-accordionTab>
            <p-accordionTab header="How will the project measure the success of carbon reduction efforts?">
              <p>
                The project will likely use metrics to measure the success of carbon reduction efforts. These metrics may include emissions data, productivity indicators, and other relevant performance measures.
              </p>
            </p-accordionTab>
            <p-accordionTab header="What types of businesses in Northern Ireland can benefit from this project?">
              <p>
                The project aims to benefit businesses across various sectors in Northern Ireland by providing them with the necessary support and tools to enhance productivity and reduce emissions.
              </p>
            </p-accordionTab>
            <p-accordionTab header="Is the project limited to a certain timeframe, or is it an ongoing initiative?">
              <p>
                Information to be confirmed.
              </p>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div class="col-4">
          <img src="assets/img/woman-in-muanufacturing.jpeg" alt="woman-engineer" class="page-img">
        </div>
      </div>
    </div>
<!--    <div class="grid nested-grid w-10">-->
<!--      <div class="col-8 col-offset-2">-->
<!--        <div class="grid">-->
<!--          <div class="col-5">-->
<!--            <p-accordion [activeIndex]="0">-->
<!--              <p-accordionTab header="What is the goal of Industrial Decarbonisation for Northern Ireland (ID-NI)?">-->
<!--                <p>-->
<!--                  The goal of the project is to address carbon reduction in Northern Ireland by taking an innovative dual-approach.-->
<!--                  It aims to provide businesses with support, advice, tools, and metrics to increase productivity while simultaneously reducing emissions.-->
<!--                </p>-->
<!--              </p-accordionTab>-->
<!--              <p-accordionTab header="What support will businesses receive from the project?">-->
<!--                <p>-->
<!--                  Businesses will receive support, advice, tools, and metrics from the project to help them increase productivity and reduce emissions.-->
<!--                </p>-->
<!--              </p-accordionTab>-->
<!--              <p-accordionTab header="How will the project measure the success of carbon reduction efforts?">-->
<!--                <p>-->
<!--                  The project will likely use metrics to measure the success of carbon reduction efforts. These metrics may include emissions data, productivity indicators, and other relevant performance measures.-->
<!--                </p>-->
<!--              </p-accordionTab>-->
<!--              <p-accordionTab header="What types of businesses in Northern Ireland can benefit from this project?">-->
<!--                <p>-->
<!--                  The project aims to benefit businesses across various sectors in Northern Ireland by providing them with the necessary support and tools to enhance productivity and reduce emissions.-->
<!--                </p>-->
<!--              </p-accordionTab>-->
<!--              <p-accordionTab header="Is the project limited to a certain timeframe, or is it an ongoing initiative?">-->
<!--                <p>-->
<!--                  Information to be confirmed.-->
<!--                </p>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->
<!--          </div>-->
<!--          <div class="col-5 col-offset-1">-->
<!--            <img src="assets/img/woman-in-muanufacturing.jpeg" alt="woman-engineer" class="page-img">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>


<section class="blue-curve-left">
  <h2 class="">Latest Technologies</h2>
  <div class="flex justify-content-center">
    <div class="grid w-10">
      <div class="col-8 col-offset-2">
        <p class="pb-8 text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
        <div class="grid text-center">
          <div class="col-2">
            <img src="assets/img/led.svg" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
          </div>
          <div class="col-2 col-offset-1">
            <img src="assets/img/cock.svg" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
          </div>
          <div class="col-2 col-offset-1">
            <img src="assets/img/pv.svg" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
          </div>
          <div class="col-2 col-offset-1">
            <img src="assets/img/bus.svg" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="blue-curve-right">
  <h2 class="">News</h2>
  <div class="flex justify-content-center">
    <div class="grid w-10">
      <div class="col-8 col-offset-2">
        <div class="grid text-left">
          <div class="col-3">
            <img src="https://placehold.co/400x250?text=Image+with+design+flair" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
            <p-button label="Read More"></p-button>
          </div>
          <div class="col-3 col-offset-1">
            <img src="https://placehold.co/400x250?text=Image+with+design+flair" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
            <p-button label="Read More"></p-button>
          </div>
          <div class="col-3 col-offset-1">
            <img src="https://placehold.co/400x250?text=Image+with+design+flair" alt="">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt</p>
            <p-button label="Read More"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="blue-curve-left">
  <h2 class=""><img src="assets/img/idni-logo.svg" style="height: 50px" alt=""></h2>
  <div class="flex justify-content-center">
    <div class="grid w-10">
      <div class="col-8 col-offset-2">
        <div class="grid text-left">
          <div class="col-2 col-offset-2">
            <p>Follow Us</p>
            <p>
              <i class="pi pi-linkedin"></i>
              <i class="pi pi-youtube"></i>
              <i class="pi pi-facebook"></i>
            </p>
          </div>
          <div class="col-2 col-offset-1">
            <ul>
              <li>Home</li>
              <li>Project Information</li>
              <li>News</li>
              <li>Events</li>
              <li>COSI's</li>
              <li>Funding</li>
            </ul>
          </div>
          <div class="col-2 col-offset-1">
            <input type="text" pInputText placeholder="Subscribe Now">
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p class="text-center p-light">Powered By: &copy; Pro Enviro LTD 2024</p>
</footer>

